---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import RestoringLive from "../../components/RestoringLives.astro";
import SeeOtherProjectCard from "../../components/SeeOtherProjectCard.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";

const Image = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.22.25-PM.jpg",
    alt: "1",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.21.35-PM.jpg",
    alt: "2",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.21.35-PM-1.jpg",
    alt: "3",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.21.34-PM-1.jpg",
    alt: "4",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.18.30-PM-1.jpg",
    alt: "5",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.17.59-PM.jpg",
    alt: "6",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.17.26-PM.jpg",
    alt: "7",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.17.23-PM.jpg",
    alt: "8",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.17.03-PM.jpg",
    alt: "9",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.54.46-PM-1.jpg",
    alt: "10",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.03.12-PM.jpg",
    alt: "11",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/WhatsApp-Image-2023-10-07-at-12.02.51-PM.jpg",
    alt: "12",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/IMG_5146.jpg",
    alt: "13",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_4039.jpg",
    alt: "14",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_4076.jpg",
    alt: "15",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_4016.jpg",
    alt: "16",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3985.jpg",
    alt: "17",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_4061.jpg",
    alt: "18",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3994.jpg",
    alt: "14",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3973.jpg",
    alt: "19",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3938-1.jpg",
    alt: "20",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3894.jpg",
    alt: "21",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3820.jpg",
    alt: "22",
  },

];

const RestoringLivesBanner = [
  {
    title:
      "Restoring Lives: Azra Extends Warm Thanks to Al-Wahab Foundation for Assistance ",
    description:
      " My name is Azra, and I reside in Hatay with my family. Our lives were turned upside down by the natural disasters that struck our city. We lost our home, our belongings, and our means of income. Providing for my children became an overwhelming challenge, as we struggled to find food, clean water, and other necessities.  ",
      description1: "It was a time of immense uncertainty and fear for our future. We are deeply grateful to the Al-Wahab Foundation and Mufti Abdul Wahab for their understanding and support during this difficult time. The Emergency Relief Package they provided has been a true blessing for my family. I am thankful to Almighty Allah that we still have got kind people like Mufti Abdul Wahab and the dedicated team of Al-Wahab Foundation to help suffering families in bringing ease to them.",
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/02/IMG_1245-1.jpg",
    buttonTitle: "Read More",
  },
];

const SeeOtherproject = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/03/80953110-f97e-4453-986d-5774276033de-1024x768.jpg",
    title: "Turkey & Syria Earthquake Appeal",
    description:
      "In early February 2023, Turkiye was hit by a devastating series of major earthquakes near the border with Syria. Tragically,",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/12/IMG_6194a-1024x683.jpg",
    title: "Afghanistan Earthquake Appeal",
    description:
      "The long-suffering Afghans once again face a daunting challenge as a massive earthquake measuring 6.3 in magnitude, struck on both",
  },
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3855-1024x768.jpg",
    title: "Morocco Earthquake Appeal",
    description:
      "A disastrous earthquake struck Morocco on Friday night, September 8th, at just past 11 PM local time resulting in a",
  },
];

const SupportBannerDetail = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3855.jpg",
    leftDescription: "MOROCCO CALLS FOR EMERGENCY HELP!",
    rightDescription:
      "The most devastating earthquake in the century has shown zero mercy to the land of Morocco. Approximately 300,000 people are affected and many more have gone missing. As per the reports, over 5,600 victims are struggling with severe injuries. Please extend your generous support and assist us in offering immediate aid to those impacted by this calamity through the Morocco Earthquake Appeal – Al-Wahab Foundation. Together, we possess the strength to give hope to the victims, illuminating the path for those navigating through these challenging times.",
      
  },
];

const HeaderBannerData = [
  {
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/09/IMG_3855.jpg",
    title: "MOROCCO",
    titleline1: "EARTHQUAKE APPEAL",
    titleline2: "",
  },
];
---

<Layout>
  <HeadersBanner HeadersBanners={HeaderBannerData} />
  <UmmahCharity />
  <div class="mt-12">
    <p class="text-maroon text-xl md:text-4xl font-bold text-center">
      Morocco Earthquake Appeal
    </p>
    <p
      class="text-sm md:text-xl text-customBeige font-medium text-center mt-5 px-2 md:px-60"
    >
      The Most Catastrophic Earthquake in a Century
    </p>
    <p class="text-grey text-sm md:text-lg font-medium text-center mt-5 px-2 md:px-52">
      A disastrous earthquake struck Morocco on Friday night, September 8th, at
      just past 11 PM local time resulting in a tragic death toll. The casualty
      count is nearing <strong> 3,000,</strong> and over <strong>
        5,600 individuals</strong
      > left injured. According to the details, the epicenter of this earthquake
      of magnitude 6.8 was in the High Atlas Mountains, approximately <strong
        >72 kilometers southwest of Marrakech.</strong
      >
    </p>
  </div>

  <div class="flex items-center justify-center mt-10 mb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Card 1 -->
      <div
        class="max-w-80 bg-white rounded-lg shadow-lg overflow-hidden relative"
      >
        <a href="#">
          <img
            class="rounded-t-lg w-full object-cover h-80"
            src="https://icharms.alwahabfoundation.org/storage/program/lhMqXT7IpaYcQkFN9dRrvSLtGiEJZ0wUzYK9HdkB.jpg"
            alt="Card image"
          />
        </a>
        <div class="p-5">
          <a class="flex justify-center" href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-black text-center mt-6"
            >
              Zakat
            </h5>
          </a>
          <p
            class="mb-5 mt-5 text-sm text-black flex items-center justify-center font-semibold sm:text-base md:text-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="37"
              height="37"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-receipt-pound-sterling"
            >
              <path
                d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"
              ></path>
              <path d="M8 13h5"></path>
              <path d="M10 17V9.5a2.5 2.5 0 0 1 5 0"></path>
              <path d="M8 17h7"></path>
            </svg>
            ANY AMOUNT
          </p>
          <p class="flex items-center justify-center mb-7 mt-6">
            <a
              href="#"
              class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
            >
              DONATE NOW
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
                stroke="currentColor"
                stroke-width="2"
              >
                <path d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="max-w-80 bg-white rounded-lg shadow-lg overflow-hidden relative"
      >
        <a href="#">
          <img
            class="rounded-t-lg w-full object-cover h-80"
            src="https://icharms.alwahabfoundation.org/storage/program/BtCNk2hl9xAkTQgK9JQPb3rivZ7JRiWGZi7dgaOh.jpg"
            alt="Card image"
          />
        </a>
        <div class="p-5">
          <a class="flex justify-center" href="#">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-black text-center mt-6"
            >
              Zakat
            </h5>
          </a>
          <p
            class="mb-5 mt-5 text-sm text-black flex items-center justify-center font-semibold sm:text-base md:text-xl"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="37"
              height="37"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-receipt-pound-sterling"
            >
              <path
                d="M4 2v20l2-1 2 1 2-1 2 1 2-1 2 1 2-1 2 1V2l-2 1-2-1-2 1-2-1-2 1-2-1-2 1Z"
              ></path>
              <path d="M8 13h5"></path>
              <path d="M10 17V9.5a2.5 2.5 0 0 1 5 0"></path>
              <path d="M8 17h7"></path>
            </svg>
            ANY AMOUNT
          </p>
          <p class="flex items-center justify-center mb-7 mt-6">
            <a
              href="#"
              class="px-6 py-3 items-center inline-flex sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
            >
              DONATE NOW
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
                stroke="currentColor"
                stroke-width="2"
              >
                <path d="M1 5h12m0 0L9 1m4 4L9 9"></path>
              </svg>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container mx-auto px-4">
    <div class="row">
      <div class="relative w-full" style="padding-bottom: 56.25%;">
        <!-- Aspect ratio 16:9 -->
        <iframe
          class="absolute top-0 left-0 w-full h-full"
          src="https://www.youtube.com/embed/BXesTonczTs?si=MAe0zVtjX_UoKZ2f"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>

  <SupportBanner BannerDetails={SupportBannerDetail} />

  <div class="container mx-auto px-2 md:px-16  py-8">
    <div class="row">
      <p class="text-maroon font-bold text-2xl pl-4">Al-Wahab Foundation’s Response to Natural Disasters </p>
      <p class="px-4 py-3 md:text-lg font-medium">
        <span class="text-grey font-medium">Under the supervision of Chairman <a class="text-maroon hover:text-customBeige font-bold" href="">Mufti Abdul Wahab</a>, Al-Wahab Foundation has consistently taken the lead in responding to global emergency situations. Whether facing earthquakes, floods, or pandemics, Al-Wahab Foundation team has been committed to being on the ground, ensuring that every affected individual receives vital emergency relief aid.<br><br> 
          Recognizing that natural disasters can wreak havoc in a matter of seconds, we have made it our utmost priority to <a class="text-maroon hover:text-customBeige font-bold" href="">serve humanity</a> in these critical moments. We pull our resources effectively to provide immediate assistance during emergencies. Nevertheless, your support remains crucial in this endeavour. Support us for the <strong>Morocco Earthquake Appeal</strong> to provide relief to as many calamity-stricken people as possible.
      </p>
    </div>
  </div>
  <ImageCarousel imageCarousel={Image} />

  <RestoringLive ReStroingLives={RestoringLivesBanner} />
  <!-- +++++++++++++++++++++Ways to Contribute++++++++++++++++++++ -->
  <div class="container mx-auto px-2 md:px-16  py-8">
    <div class="row">
      <p class="text-maroon font-bold text-2xl pl-4">Ways to Contribute</p>
      <p class="px-4 py-3 md:text-lg font-medium">
        <span class="text-grey font-bold">Online Donation:</span> You can easily
        donate to <span class="text-grey font-bold"
          >Morocco Earthquake Appeal</span
        > through our secure online donation portal. Your 
        contribution, no matter how small, can make a big difference.<br><br> 
        <span class="text-grey font-bold">Our Donation Hotline:</span> Apart from
        our online portal, you can donate to <span class="text-grey font-bold"
          >Morocco Earthquake Emergency Relief</span
        >activities by 
        calling us on our donation hotline at 020 8903 8944. <br><br>
      
        You can make a significant impact by contributing as much as possible to
        provide an Emergency Kit that includes food, 
        clean water, medical aid, and basic essentials. Join hands with Al-Wahab
        Foundation and give the people of Morocco hope to 
        live again!
      </p>

      <div class="flex justify-start mt-10 sm:mt-12">
        <a
          href="#"
          class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
        >
          DONATE TO MOROCCO EARTHQUAKE APPEALS
        </a>
      </div>
      
    </div>
  </div>

  <div class="mx-auto px-4 py-8">
    <p class="text-center text-grey text-4xl font-bold">See Other Projects</p>
  </div>

  <SeeOtherProjectCard SeeOtherProjects={SeeOtherproject} />
</Layout>
