---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import SupportBanners from "../../components/SupportBanner.astro";
import RestoringLive from "../../components/RestoringLives.astro";
import Singleregular from "../../components/singel-regular.astro";
import SeeOtherProjectCard from "../../components/SeeOtherProjectCard.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";

const ImagesCarousel =[
    {
       src:"/assets/images/appeals/water/BuligMasjid1.webp",
       alt:"", 
    },
    {
       src:"/assets/images/appeals/water/BuildMusjid6.webp",
       alt:"", 
    },
    {
       src:"/assets/images/appeals/water/BildMasjid2.webp",
       alt:"", 
    },  
    {
       src:"/assets/images/appeals/water/BuildMasjid4.webp",
       alt:"", 
    },   
    {
       src:"/assets/images/appeals/water/BildMasjid5.webp",
       alt:"",
    },   
    {
       src:"/assets/images/appeals/water/BuligMasjid1.webp",
       alt:"", 
    },
    {
       src:"/assets/images/appeals/water/BuildMusjid6.webp",
       alt:"", 
    },
    {
       src:"/assets/images/appeals/water/BildMasjid2.webp",
       alt:"", 
    }, 
    {
       src:"/assets/images/appeals/water/BuildMasjid4.webp",
       alt:"", 
    }, 
    
]
const single =[
  
    {
        name : "UGANDA",
        title:"Build A Masjid",
        amount:"12000.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/uganda-appeal/Uganda-card4.jpg",

    },
      {
        name : "PAKISTAN",
        title:"Build A Masjid",
        amount:"7000.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/water/Bulid masjid.jpg",

    },
    {
        name : "PAKISTAN",
        title:"Musallah",
        amount:"100.00",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/water/Musallah.jpg",

    },
    {
        name : "PAKISTAN",
        title:"Large Masjid",
        amount:"15000.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/water/LargMasjid.jpg",

    }
]
const OtherProject = [
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water1.jpg",
    },
    {
        title: "Hope For Uganda",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water2.jpg",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water3.jpg",
    },
    {
        title: "Winter Survival Kit",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water4.jpg",
    },
    {
        title: "Build a Masjid",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water5.jpg",
    },
    {
        title: "Pay Zakat Online",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water6.jpg",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "/assets/images/appeals/water/Water7.jpg",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "/assets/images/appeals/water/Water8.jpg",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "/assets/images/appeals/water/Water9.jpg",
    },
    {
        title:"Water for Life",
        description:"Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src:"/assets/images/appeals/water/Water10.jpg",
    }
];

const RestoreData = [
    {
        title: "Janib Ali's Village Thanks You for Your Generosity",
        description:
            "“My name is Janib Ali and I live in Ghoas Buksh, Sindh. Most of the people in our community are short on financial means and we barely make ends meet. Sometimes it gets difficult to provide even the most basic necessities for our families so when it comes to building a proper mosque, it is so unfortunate that we cannot make up for it. However, Al-Wahab Foundation built this beautiful and spacious mosque in our village. It’s like a gift from Allah (SWT) for all of us as we don’t have to go far off, outside the village to pray in a Jamaat (congregation). We cannot thank Muti Abdul Wahab and Al-Wahab Foundation for this gift",
            description1: "",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/07/3L5A5064-1.jpg",
        buttonTitle: "Build a Masjid",
    },
];

const SupportBannerData = [
    {
        leftDescription: "Earn Countless Blessings for Life",
        rightDescription:
            "“Whoever builds a Masjid for the sake of Allah, Allah will build for him a house in Paradise.(Bukhari)When you donate to help rebuild mosque damaged by natural disaster, you donate more than just vital funds. Your donation will count as sadaqah jariyah, meaning it can continue to benefit you and your loved ones for years ahead. Help to create a sanctuary for those who are struggling and build a masjid for the people of Pakistan today.",
        src: "/assets/images/appeals/water/BigMasjid.jpg",
    },
];
const HeaderBanned = [
    {
        src: "/assets/images/appeals/water/Water5.jpg",
        title: "Build a Masjid: Your Generosity, The Best Sadaqah",
        titleline1: "",
        titleline2: "",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBanned} />
    <UmmahCharity />

    <div class="container">
        <div class="row md:px-60">
            <p class="md:text-4xl text-xl text-maroon font-bold text-center pt-6 md:pt-16">
                Donate Today to Build a Mosque for Those in Need
            </p>
            <p class="text-center md:px-10 text-base md:text-lg text-grey font-semibold py-4">
                A mosque is the heart of the community, a place full of peace
                that brings the community together. In rural areas, where mosques are damaged and
                unsafe due to floods, storm or earthquake, having a suitable place to pray again
                can feel out of reach. Finding the funds or resources to rebuild a masjid is impossible
                in the daily battle for survival. You can help. Give them a place to worship once
                again.
            </p>
        </div>
    </div>
    <Singleregular SingleRegulars={single}/>
    <SupportBanners BannerDetails={SupportBannerData} />
    <div class="container counter">
        <div class="row flex mx-auto justify-center py-12 md:w-[1000px]">
            <!-- First Column -->
            <div
                class="w-1/2 bg-maroon duration-300 border-2 py-20 px-4 border-customBeige flex flex-col items-center justify-center"
            >
            <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" class=" fill-customBeige duration-300 hover:fill-[#ffff] " height="80" viewBox="0 0 512 512" width="80">
                <path d="m191 408.49v103.51h130v-103.51l-65-39z"></path>
                <path d="m125 512h36v-112c0-5.27 2.76-10.15 7.28-12.86l80-48c4.75-2.85 10.69-2.85 15.44 0l80 48c4.52 2.71 7.28 7.59 7.28 12.86v112h36v-208h-262z"></path>
                <path d="m497 304h-65c-8.28 0-15 6.72-15 15v178c0 8.28 6.72 15 15 15h65c8.28 0 15-6.72 15-15v-178c0-8.28-6.72-15-15-15z"></path>
                <path d="m479 179.272v-19.272c0-8.284-6.716-15-15-15s-15 6.716-15 15v19.611c-18.601 6.442-32 24.126-32 44.889v31.5c0 8.28 6.72 15 15 15h65c8.28 0 15-6.72 15-15v-31.5c0-21.134-13.88-39.083-33-45.228z"></path>
                <path d="m153 256c0 8.28 6.72 15 15 15h176c8.28 0 15-6.72 15-15v-11h-206z"></path><path d="m157.39 210.61c2.82 2.81 6.63 4.39 10.61 4.39h176c3.98 0 7.79-1.58 10.61-4.39l2.49-2.49c16.7-16.71 25.9-38.92 25.9-62.54 0-30.89-16.45-59.95-42.94-75.83-27.84-16.71-52.08-38.15-72.06-63.75l-.18-.24c-2.84-3.63-7.2-5.76-11.82-5.76s-8.98 2.13-11.82 5.76l-.19.24c-19.97 25.6-44.21 47.04-72.05 63.75-26.49 15.88-42.94 44.94-42.94 75.83 0 23.62 9.2 45.83 25.9 62.54z"></path>
                <path d="m80 304h-65c-8.28 0-15 6.72-15 15v178c0 8.28 6.72 15 15 15h65c8.28 0 15-6.72 15-15v-178c0-8.28-6.72-15-15-15z"></path><path d="m63 179.611v-19.611c0-8.284-6.716-15-15-15s-15 6.716-15 15v19.272c-19.12 6.145-33 24.094-33 45.228v31.5c0 8.28 6.72 15 15 15h65c8.28 0 15-6.72 15-15v-31.5c0-20.763-13.399-38.447-32-44.889z">
                </path>
            </svg>
                <p class="text-center font-bold text-white text-xl md:text-2xl py-4">
                   <span data-countup-number="76">76</span> +<br />
                    Mosques
                </p>
            </div>

            <!-- Second Column -->
            <div
                class="w-1/2 border-2 py-20 px-4 border-maroon flex flex-col items-center justify-center text-center"
            >
                <div>
                    <!-- SVG Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" class="fill-maroon hover:fill-customBeigem " width="80px" height="80px" viewBox="0 0 80.13 80.13" xml:space="preserve">
                        <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
                    </svg>

                    <!-- Text Below SVG -->
                    <p class="md:text-xl text-base font-bold font-hind text-blackColor dark:text-blackColor-dark">
                       <span data-countup-number="15000">15000</span><span>+</span> <br>
                       Beneficiaries
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="flex justify-center">
          <div class="relative w-full max-w-[100%] md:max-w-[88%]">
            <!-- Aspect Ratio Wrapper -->
            <div class="relative pt-[56.25%]"> <!-- 16:9 aspect ratio -->
              <iframe 
                class="absolute inset-0 w-full h-full"
                src="https://www.youtube.com/embed/urFWzj8sXZA?si=zVcEFCSWJyQDRxUj" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
      
      
    
    <div class="container my-10">
        <div class="row">
            <p class="md:text-2xl text-xl font-bold text-maroon md:px-28 py-5">
                Caring for a house of Allah – One of the greatest virtues
            </p>
            <p class="md:text-lg text-base text-grey font-semibold md:px-28 py-3">
                <span class="font-bold"
                    > <i> “We aim to work in those villages where Mosques have been
                    completely demolished and reshape the religious identities
                    of individuals in those areas.” </span> – <ahref="#" class="text-maroon hover:text-customBeige font-bold">
                    Mufti Abdul Wahab, Chairman AWF.
                    </a></i>
                 <p class="md:text-lg text-base text-grey font-medium px-28 py-3">Plunged into chaos, people struggle in severe poverty when disaster
                    hits. You can ease their hardship. Earn endless blessings and donate
                    today to help reconstruct or repair masjids that unite communities
                    together in times of crisis.</p>

                  <p class="md:text-lg text-base text-grey font-medium px-28">Your donation will count as sadaqah jariyah, meaning it can continue to benefit you and
                     your loved ones for years ahead. Help to create a sanctuary for those who are struggling and <strong>build a masjid</strong> for the people of
                    Pakistan today.
                  </p>
                
            </p>
        </div>
    </div>
    <RestoringLive ReStroingLives={RestoreData} />
    <div class="container my-8">
        <div class="row md:px-24">
            <p class="md:text-2xl text-base font-bold text-maroon md:px-16 pt-10">
                Restore A Masjid With Us
            </p>
           
            <p class="md:px-16 py-5 text-base font-medium text-grey md:text-lg">
                Thanks to you and thousands like you, we have been able to rebuild more than 50 mosques across Pakistan so far, benefitting more than 14,000 people who have lost access to a suitable place for prayer.
                
            <p class="md:px-16 text-base font-medium text-grey md:text-lg">
                These masjids provide not just a beautiful place for worship; they also bring people together in the toughest of times, providing a safe haven and uplifting the spirits of those who are struggling. By working in some of the more impoverished areas, your support in repairing local masjids can bring hope and community strength. From daily congregational prayers to educational activities, essential service, support and advice, the mosques you help rebuild are a beacon of a brighter future.
            <p/>
            </p>
            <p class="text-grey text-base md:text-lg font-bold md:px-14 pt-5">
                If you would like to rebuild a Masjid with AWF, please call our donation hotline on 0208 903 8944.  
            </p>
            <p class="text-grey text-base md:text-lg font-bold md:px-14 pt-5">
                Our team will then send you a contract agreement to sign and send back. Once this is complete, our specialist team will commence rebuilding of the masjid and keep you informed of progress in the restoring a place of worship for those in need.   
            </p>
            <p class="text-grey text-xl font-bold px-16 pt-5">
                Join us and donate today.
            </p>
            <ImageCarousel imageCarousel = {ImagesCarousel} />
            <!--slider -->
            <p class="flex justify-center my-7">
                <a
                    href=""
                    class="px-4 font-bold py-1 bg-maroon text-white hover:bg-customBeige rounded-full"
                    >DONATE NOW</a
                >
            </p>
        </div>
    </div>
    <!--section step -->
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col gap-y-8 items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-pound-sign fill-[white] hover:fill-customBeige" height="80" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M308 352h-45.495c-6.627 0-12 5.373-12 12v50.848H128V288h84c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-84v-63.556c0-32.266 24.562-57.086 61.792-57.086 23.658 0 45.878 11.505 57.652 18.849 5.151 3.213 11.888 2.051 15.688-2.685l28.493-35.513c4.233-5.276 3.279-13.005-2.119-17.081C273.124 54.56 236.576 32 187.931 32 106.026 32 48 84.742 48 157.961V224H20c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h28v128H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h296c6.627 0 12-5.373 12-12V364c0-6.627-5.373-12-12-12z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 1</p>
                <p class="text-white text-center font-normal text-base">
                    You select eye surgery project and make a donation on our website.
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col gap-y-8 items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-exchange-alt fill-[white] hover:fill-maroon " height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 2</p>
                <p class="text-white text-center font-normal text-base">
                    We process the donation and send it over to our implementation partners, where eye camps are established in the chosen locations. 
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col gap-y-8 items-center justify-center p-6 text-white rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-wrench fill-[white] hover:fill-customBeige " height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M507.73 109.1c-2.24-9.03-13.54-12.09-20.12-5.51l-74.36 74.36-67.88-11.31-11.31-67.88 74.36-74.36c6.62-6.62 3.43-17.9-5.66-20.16-47.38-11.74-99.55.91-136.58 37.93-39.64 39.64-50.55 97.1-34.05 147.2L18.74 402.76c-24.99 24.99-24.99 65.51 0 90.5 24.99 24.99 65.51 24.99 90.5 0l213.21-213.21c50.12 16.71 107.47 5.68 147.37-34.22 37.07-37.07 49.7-89.32 37.91-136.73zM64 472c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 3</p>
                <p class="text-white text-center font-normal text-base">
                    Eye cataract surgeries are carried out, and patients are also counselled in an awareness programme.
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col gap-y-8 items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-clipboard-list fill-[white] hover:fill-maroon " height="80" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM96 424c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm96-192c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm128 368c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 4</p>
                <p class="text-white text-center font-normal text-base">
                    Detailed feedback reports are only sent to those who donated for eye surgery.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p class="text-grey font-semibold    text-xl md:text-4xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <div>
        <SeeOtherProjectCard SeeOtherProjects={OtherProject} />
    </div>
</Layout>
