---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";
const ImagesCarousel =[
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_5268-1024x683.jpg",
       alt:"", 
    },
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/SAK03937-1024x683.jpg",
       alt:"", 
    },
     
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_5268-1024x683.jpg",
       alt:"", 
    },   
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/SAK03937-1024x683.jpg",
       alt:"", 
    }, 
    
    
    
]
const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "https://picsum.photos/200",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "https://picsum.photos/200",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "https://picsum.photos/200",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "https://picsum.photos/200",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "https://picsum.photos/200",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "https://picsum.photos/200",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "https://picsum.photos/200",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "https://picsum.photos/200",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "https://picsum.photos/200",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "https://picsum.photos/200",
    },
];
const Restoring = [
    {
        title: "Your Donations Saved Zafar’s Eyesight!",
        description:
            "“My name is Zafar and I am a father to five children. With ageing, I started to face serious eyesight issues to an extent that I had to leave my wok as a rickshaw driver. I was already struggling with fulfilling the expenses of looking after my family and so I could give no thought to how I may get my eyes checked or treated. A neighbour of mine told me about Al-Wahab Foundation’s free eye camps in our area. I went and was prescribed cataract surgery. With the generosity of donors, my eyesight recovered, and I am so thankful to Mufti Abdul Wahab and Al-Wahab Foundation for this amazing support.” ",
            description1: "",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/09/SAK01428-1024x576.jpg",
        buttonTitle: "Sponsor an Eye Surgey ",
    },
];
const card = [
    {
        name: "PAKISTAN",
        title: "Eye Sergery",
        amount: "75.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/ctw0fhWZ2O0k8bYgJOzd5GfUgHNTmhWkQn3HHNGk.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Eye Camp",
        amount: "500.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/E1f5Gyd4MIUANNg8Pvfdr0ITe69b4eBHAcLM1Wt4.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Medical Aid",
        amount: "ANY AMOUNT",
        src: "https://picsum.photos/200",
    },
];
const BannerDatas = [
    {
        src: "/assets/images/website-banner-UK-winter-1.jpg",
        title: " Rohingya Appeal in Action",
    },
];

const SupportBannerDetails = [
    {
        leftDescription: "Donate to Restore Their Vision",
        rightDescription:
            "Vision impairment can affect a whole family’s health and well-being. Unable to work, families fall into further poverty. With your eye charity, our Eye Camps provide proper treatment and medication while referring those for Eye Cataract Surgeries who are unable to afford treatment. We work in some of the most disadvantaged communities, providing specialist consultancy and ophthalmic surgery with care. Donate today to eye appeal and transform someone’s life by restoring their sight.",
        src: "/assets/images/Help-The-Homeless-in-UK.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/07/eye-surgery-banner.jpg",
        title: "SURGERIES WITH YOUR EYE CHARITY",
        titleline1: "",
        titleline2: "",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon md:text-4xl font-bold text-center text-6xl">
            Give the Gift of Sight
        </p>
        <p class="text-[#333132] text-lg font-medium text-center mt-5">
            Around 2.2 million people around the world struggle with blindness and vision<br> impairment and almost half of those are treatable – yet many people living in poverty <br>are denied the right to sight simply because they cannot afford treatment. Al-Wahab <br>Foundation is working as an <span class="text-grey font-bold">eye charity</span> to deliver free eye camps and cataract<br> surgeries to disadvantaged communities helping them treat and restore eyesight. <br>Donate towards <span class="font-bold text-grey">eye appeal</span> today to give the <span class="text-grey font-bold">gift of sight</span>.
        </p>
     
    </div>

    <!--card -->
    <CardforCountry CountryCardDetails={card} />

    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    <div
        class="counter flex justify-center items-center flex-nowrap gap-12 pt-20 overflow-auto"
    >
        <!-- Item 1 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-500" id="Capa_1" height="70" viewBox="0 0 512 512" width="70"><g><path d="m228.049 401.889h55.902l-27.951-66.014z"></path><path d="m256 50.111-256 256v95.777h30v-83.352l36.746-36.746v120.097h128.724l60.53-142.953 60.53 142.955h128.724v-120.098l36.746 36.746v83.352h30v-95.777zm44.092 140.797h-29.092v29.092h-30v-29.092h-29.092v-30h29.092v-29.092h30v29.092h29.092z"></path><path d="m0 431.889h512v30h-512z"></path></g></svg>
            </div>
            <div>
                <p
                    class="md:text-3xl md:mt-10 font-bold text-[#333132]"
                >
                    <span data-countup-number="104">104</span><span
                        >+</span
                    >
                </p>
                <p
                    class="text-[#333132] font-medium md:text-base md:mt-2"
                >
                Eye Camps 
                </p>
            </div>
        </div>
        <!-- Item 2 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-500" id="Layer_1" height="70" viewBox="0 0 512 512" width="70"><g><path d="m241 288.677c-41.57 7.144-73.301 43.444-73.301 87.021 0 48.69 39.611 88.302 88.301 88.302s88.302-39.612 88.302-88.301c0-43.577-31.732-79.877-73.302-87.021v44.321c0 .093-.012.183-.014.275 17.466 6.188 30.014 22.864 30.014 42.424 0 24.813-20.187 45-45 45s-45-20.187-45-45c0-19.56 12.548-36.236 30.014-42.424-.002-.093-.014-.182-.014-.275z"></path><circle cx="256" cy="375.698" r="15"></circle><path d="m485.661 367.837c-23.693-38.499-56.951-70.693-96.177-93.104-36.138-20.646-76.818-32.59-118.484-34.91v18.521c58.176 7.394 103.302 57.203 103.302 117.354 0 65.232-53.071 118.302-118.302 118.302s-118.301-53.07-118.301-118.301c0-60.151 45.126-109.961 103.301-117.354v-18.521c-41.667 2.32-82.347 14.265-118.484 34.91-39.226 22.41-72.483 54.604-96.177 93.104-2.967 4.821-2.967 10.902 0 15.724 23.694 38.498 56.952 70.693 96.177 93.103 40.463 23.116 86.622 35.335 133.484 35.335s93.021-12.219 133.484-35.336c39.226-22.41 72.483-54.604 96.177-93.103 2.968-4.822 2.968-10.903 0-15.724z"></path><path d="m271 239.823v-41.569h-30v41.569c4.988-.278 9.99-.426 15-.426s10.012.148 15 .426z"></path><path d="m219 137.999c-2.714 0-5.381-.198-8-.549v15.805c0 8.284 6.716 15 15 15h60c8.284 0 15-6.716 15-15v-15.805c-2.619.351-5.286.549-8 .549z"></path><path d="m219 107.999h74c16.569 0 30-13.431 30-30v-62.999c0-5.692-3.235-11.05-8.689-13.617-2.046-.963-4.306-1.383-6.568-1.383l-103.743.001c-8.284 0-15 6.716-15 15v62.997c0 16.569 13.431 30.001 30 30.001z"></path></g></svg>
            </div>
            <div>
                <p
                    class="md:text-3xl md:mt-10 font-bold text-[#333132]"
                >
                    <span data-countup-number="200">200</span><span>+</span>
                </p>
                <p
                    class="text-[#333132] font-medium md:text-base md:mt-2 md:px-20"
                >
                Successful Cataract Surgeries
                </p>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-500" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" width="70" height="70" viewBox="0 0 80.13 80.13" style="enable-background:new 0 0 80.13 80.13;" xml:space="preserve"><g>	<path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </div>
            <div>
                <p
                    class="md:text-3xl md:mt-10 font-bold text-[#333132]"
                >
                    <span data-countup-number="26200 ">26200 </span><span
                        >+</span
                    >
                </p>
                <p
                    class="text-[#333132] font-medium md:text-base md:mt-2"
                >
                    Beneficiaries 
                </p>
            </div>
        </div>
    </div>

    <!--section 2 -->

    <!--section video -->
    <div class="container mx-auto py-8 px-4 mt-16">
        <div class="relative overflow-hidden pb-[40%]">
            <iframe
                class="absolute top-0 left-0 w-full h-full"
                src="https://www.youtube.com/embed/_sDQ2lj-Zak"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            >
            </iframe>
        </div>
    </div>

    <ImageCarousel imageCarousel = {ImagesCarousel} />

    <!--section 3 -->
    <div class="container mx-auto sm:px-6 md:px-28">
        <div class="row">
            <p
                class="text-2xl sm:text-2xl text-maroon font-bold md:mt-10 sm:mt-20"
            >
            Join Our Eye Charity Appeal to Fight Against Global Blindness
            </p>
            <p
                class="mt-5 sm:mt-7 text-[#333132] text-lg font-medium leading-6 text-justify"
            >
            We are working across Pakistan delivering Eye Care Camps in disadvantaged communities through our eye appeal to people who do not have access to healthcare. Our consultant service ensures that treatment is tailored and provides surgery and medication to combat vision impairment and blindness.   <br><br>We treat children, adults, and the elderly with sight-saving, high-quality medical care to help them back into education, work, and their daily activities. For those who need eye cataract surgeries, AWF provides a free-of-cost operation facility as an <span class="text-grey font-bold">eye surgery charity </span>  organisation to prevent blindness.<br><br>  For just £500 you can sponsor an <span class="font-bold text-grey">Eye Care Camp </span>to provide the facilities and equipment needed to treat hundreds of people whereas you can give the <a href="" class="font-bold text-maroon hover:text-customBeige">gift of sight to the less fortunate</a> through eye cataract surgery by contributing £75 only. Your donation helps us in the global fight against preventable blindness through our eye appeal, giving hope to those who struggle in poverty.
            </p>
            
        </div>
    </div>

    <RestoringLives ReStroingLives={Restoring} />
    
    <!--section 5  -->
    <div class="container mx-auto sm:px-6 md:px-28">
        <div class="row">
            <p
                class="text-2xl sm:text-2xl text-maroon font-bold md:mt-10 sm:mt-20"
            >
            Free Eye Camps: Providing Vision Care to All
            </p>
            <p
                class="mt-5 sm:mt-7 text-[#333132] text-lg font-medium leading-6 text-justify"
            >
            We believe that no one should have to spend their lives with preventable blindness simply because of poverty. Across Pakistan and many other countries, refracted errors and cataracts are the leading causes of blindness, affecting thousands of people living in poverty. <br><br>Our Eye Care Camps provide free eye consultations and treatment to those in need, restoring not just their sight but their independence and freedom through your <span class="text-grey font-bold">eye charity</span>. When you give the gift of sight, you also help people back into work and improve their wellbeing, benefitting whole families with simple, affordable treatment.
            </p>
            
        </div>
        <div class="flex justify-center mt-10 sm:mt-12">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                DONATE   NOW
            </a>
        </div>
        <div class="row">
            <p
                class="text-2xl sm:text-2xl text-maroon font-bold mt-8"
            >
            Free Cataract Eye Surgery
            </p>
            <p
                class="mt-5 sm:mt-7 text-[#333132] text-lg font-medium leading-6 text-justify"
            >
            Cataracts are the world’s leading cause of vision loss, affecting over 2 billion people and yet easily treatable with eye surgery. Despite this, for those living in poverty, a lack of access to free healthcare means they often suffer from blindness, unable to afford treatment.  <br><br>With your <span class="font-bold text-grey">eye surgery charity</span>, Al-Wahab Foundation is working in disadvantaged regions to deliver free eye surgery, restoring vision and providing relief. Our eye cataract surgeries take place in regions where those who are most vulnerable can be treated and cared for. From our Eye Care Camps, we receive hundreds of referrals for those patients who require surgery.<br><br> Your donations for Cataract surgery pay for their transportation and food, specialist surgical equipment, hygiene measures, medications and after-care to restore and protect the health. <br><br>   From as little as £75, your generosity and compassion can have a life-changing effect on someone living with treatable blindness, bringing back their sight and ability to live in hope and with independence. Donate to our eye appeal and help us restore their sight.
            </p>
            
        </div>
        <div class="row">
            <p
                class="text-2xl sm:text-2xl text-maroon font-bold mt-8"
            >
            Your support has achieved so much so far.
            </p>
            <p
                class="mt-5 sm:mt-7 text-[#333132] text-lg font-medium leading-6 text-justify"
            >
            So far, your charity with generosity to our eye appeal has meant we have been able to treat 18,284 patients through 93 camps whereas we have successfully conducted 202 free eye cataract surgeries in Pakistan. The donations that you gave have enabled us to set up eye camps in remote areas to ensure those who are most in need can benefit from eye charity.<br><br>Team Al-Wahab Foundation gives pick-and-drop facility to those <span class="font-bold text-grey">surgery patients</span> and provides them with hot meals. Al-Wahab Foundation is striving to serve new areas and reach new communities across Pakistan with your continued support. <br><br> Your donations for <span class="font-bold text-grey">eye appeal</span> can have a transformative effect on those suffering from treatable eye conditions, allowing them to be able to return to work or education, providing and building for their families. With your Sadaqah and Zakat, we can work together to give back the <span class="font-bold text-grey">gift of sight </span>to children and adults struggling with preventable vision impairment and blindness.
            </p>
            
        </div>  
    </div>
    </div>
    <!--section step -->
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col gap-y-8 items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-pound-sign fill-[white] hover:fill-customBeige" height="80" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="M308 352h-45.495c-6.627 0-12 5.373-12 12v50.848H128V288h84c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12h-84v-63.556c0-32.266 24.562-57.086 61.792-57.086 23.658 0 45.878 11.505 57.652 18.849 5.151 3.213 11.888 2.051 15.688-2.685l28.493-35.513c4.233-5.276 3.279-13.005-2.119-17.081C273.124 54.56 236.576 32 187.931 32 106.026 32 48 84.742 48 157.961V224H20c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h28v128H12c-6.627 0-12 5.373-12 12v40c0 6.627 5.373 12 12 12h296c6.627 0 12-5.373 12-12V364c0-6.627-5.373-12-12-12z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 1</p>
                <p class="text-white text-center font-normal text-base">
                    You select eye surgery project and make a donation on our website.
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col gap-y-8 items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-exchange-alt fill-[white] hover:fill-maroon " height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 2</p>
                <p class="text-white text-center font-normal text-base">
                    We process the donation and send it over to our implementation partners, where eye camps are established in the chosen locations. 
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col gap-y-8 items-center justify-center p-6 text-white rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-wrench fill-[white] hover:fill-customBeige " height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M507.73 109.1c-2.24-9.03-13.54-12.09-20.12-5.51l-74.36 74.36-67.88-11.31-11.31-67.88 74.36-74.36c6.62-6.62 3.43-17.9-5.66-20.16-47.38-11.74-99.55.91-136.58 37.93-39.64 39.64-50.55 97.1-34.05 147.2L18.74 402.76c-24.99 24.99-24.99 65.51 0 90.5 24.99 24.99 65.51 24.99 90.5 0l213.21-213.21c50.12 16.71 107.47 5.68 147.37-34.22 37.07-37.07 49.7-89.32 37.91-136.73zM64 472c-13.25 0-24-10.75-24-24 0-13.26 10.75-24 24-24s24 10.74 24 24c0 13.25-10.75 24-24 24z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 3</p>
                <p class="text-white text-center font-normal text-base">
                    Eye cataract surgeries are carried out, and patients are also counselled in an awareness programme.
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col gap-y-8 items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="e-font-icon-svg e-fas-clipboard-list fill-[white] hover:fill-maroon " height="80" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg"><path d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM96 424c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm96-192c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm128 368c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"></path></svg>
                <p class="text-white uppercase text-2xl font-bold mb-2">Step 4</p>
                <p class="text-white text-center font-normal text-base">
                    Detailed feedback reports are only sent to those who donated for eye surgery.
                </p>
            </div>
        </div>
    </div>

    <!--section 6-->
    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <div>
        <Otherproject SeeOtherProjects={otherproject} />
    </div>
</Layout>
