---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import ImageCarousel from "../../components/ImageCarousel.astro";
const ImagesCarousel =[
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_5268-1024x683.jpg",
       alt:"", 
    },
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/SAK03937-1024x683.jpg",
       alt:"", 
    },
     
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_5268-1024x683.jpg",
       alt:"", 
    },   
    {
       src:"https://alwahabfoundation.org/wp-content/uploads/2022/07/SAK03937-1024x683.jpg",
       alt:"", 
    }, 
    
    
    
]
const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "https://picsum.photos/200",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "https://picsum.photos/200",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "https://picsum.photos/200",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "https://picsum.photos/200",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "https://picsum.photos/200",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "https://picsum.photos/200",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "https://picsum.photos/200",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "https://picsum.photos/200",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "https://picsum.photos/200",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "https://picsum.photos/200",
    },
];
const Restoring = [
    {
        title: "Your Donations Saved Zafar’s Eyesight!",
        description:
            "“My name is Zafar and I am a father to five children. With ageing, I started to face serious eyesight issues to an extent that I had to leave my wok as a rickshaw driver. I was already struggling with fulfilling the expenses of looking after my family and so I could give no thought to how I may get my eyes checked or treated. A neighbour of mine told me about Al-Wahab Foundation’s free eye camps in our area. I went and was prescribed cataract surgery. With the generosity of donors, my eyesight recovered, and I am so thankful to Mufti Abdul Wahab and Al-Wahab Foundation for this amazing support.” ",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/09/SAK01428-1024x576.jpg",
        buttonTitle: "Sponsor an Eye Surgey ",
    },
];
const card = [
    {
        name: "PAKISTAN",
        title: "Eye Sergery",
        amount: "75.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/ctw0fhWZ2O0k8bYgJOzd5GfUgHNTmhWkQn3HHNGk.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Eye Camp",
        amount: "500.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/E1f5Gyd4MIUANNg8Pvfdr0ITe69b4eBHAcLM1Wt4.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Medical Aid",
        amount: "ANY AMOUNT",
        src: "https://picsum.photos/200",
    },
];
const BannerDatas = [
    {
        src: "/assets/images/website-banner-UK-winter-1.jpg",
        title: " Rohingya Appeal in Action",
    },
];

const SupportBannerDetails = [
    {
        leftDescription: "Donate to Restore Their Vision",
        rightDescription:
            "Vision impairment can affect a whole family’s health and well-being. Unable to work, families fall into further poverty. With your eye charity, our Eye Camps provide proper treatment and medication while referring those for Eye Cataract Surgeries who are unable to afford treatment. We work in some of the most disadvantaged communities, providing specialist consultancy and ophthalmic surgery with care. Donate today to eye appeal and transform someone’s life by restoring their sight.",
        src: "/assets/images/Help-The-Homeless-in-UK.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/07/eye-surgery-banner.jpg",
        title: "SURGERIES WITH YOUR EYE CHARITY",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon md:text-3xl font-bold text-center text-6xl">
            Give the Gift of Sight
        </p>
        <p class="text-grey text-lg font-semibold md:text-xl text-center mt-5">
            Around 2.2 million people around the world struggle with blindness and vision<br> impairment and almost half of those are treatable – yet many people living in poverty <br>are denied the right to sight simply because they cannot afford treatment. Al-Wahab <br>Foundation is working as an <span class="text-grey font-bold">eye charity</span> to deliver free eye camps and cataract<br> surgeries to disadvantaged communities helping them treat and restore eyesight. <br>Donate towards <span class="font-bold text-grey">eye appeal</span> today to give the <span class="text-grey font-bold">gift of sight</span>.
        </p>
     
    </div>

    <!--card -->
    <CardforCountry CountryCardDetails={card} />

    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    <div
        class="counter flex justify-center items-center flex-nowrap gap-6 pt-20 overflow-auto"
    >
        <!-- Item 1 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="104">104</span><span
                        >+</span
                    >
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                Eye Camps 
                </p>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="200">200</span><span>+</span>
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                Successful Cataract Surgeries
                </p>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="26200 ">26200 </span><span
                        >+</span
                    >
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                    Beneficiaries 
                </p>
            </div>
        </div>
        <!-- Item 4 -->
        

        <!-- Repeat similar structure for Items 3 to 7 -->
    </div>

    <!--section 2 -->

    <!--section video -->
    <div class="container mx-auto py-8 px-4 mt-16">
        <div class="relative overflow-hidden pb-[40%]">
            <iframe
                class="absolute top-0 left-0 w-full h-full"
                src="https://www.youtube.com/embed/rKE-aUoKWhE?si=Hix0Wt-am77ezPpB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            >
            </iframe>
        </div>
    </div>

    <!-- -->
    <ImageCarousel imageCarousel = {ImagesCarousel} />

   
    <!--section 3 -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Join Our Eye Charity Appeal to Fight Against Global Blindness
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            We are working across Pakistan delivering Eye Care Camps in disadvantaged communities through our eye appeal to people who do not have access to healthcare. Our consultant service ensures that treatment is tailored and provides surgery and medication to combat vision impairment and blindness.   <br><br>We treat children, adults, and the elderly with sight-saving, high-quality medical care to help them back into education, work, and their daily activities. For those who need eye cataract surgeries, AWF provides a free-of-cost operation facility as an <span class="text-grey font-bold">eye surgery </span> charity organisation to prevent blindness.<br><br>  For just £500 you can sponsor an <span class="font-bold text-grey">Eye Care Camp </span>to provide the facilities and equipment needed to treat hundreds of people whereas you can give the <a href="" class="font-bold text-maroon hover:text-customBeige">gift of sight to the less fortunate</a> through eye cataract surgery by contributing £75 only. Your donation helps us in the global fight against preventable blindness through our eye appeal, giving hope to those who struggle in poverty.
            </p>
            
        </div>
    </div>

    <RestoringLives ReStroingLives={Restoring} />
    
    <!--section 5  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-8 "
            >
            Free Eye Camps: Providing Vision Care to All
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            We believe that no one should have to spend their lives with preventable blindness simply because of poverty. Across Pakistan and many other countries, refracted errors and cataracts are the leading causes of blindness, affecting thousands of people living in poverty. <br><br>Our Eye Care Camps provide free eye consultations and treatment to those in need, restoring not just their sight but their independence and freedom through your <span class="text-grey font-bold">eye charity</span>. When you give the gift of sight, you also help people back into work and improve their wellbeing, benefitting whole families with simple, affordable treatment.
            </p>
            
        </div>
        <div class="flex justify-center mt-10 sm:mt-12">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                DONATE   NOW
            </a>
        </div>
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-8"
            >
            Free Cataract Eye Surgery
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            Cataracts are the world’s leading cause of vision loss, affecting over 2 billion people and yet easily treatable with eye surgery. Despite this, for those living in poverty, a lack of access to free healthcare means they often suffer from blindness, unable to afford treatment.  <br><br>With your <span class="font-bold text-grey">eye surgery charity</span>, Al-Wahab Foundation is working in disadvantaged regions to deliver free eye surgery, restoring vision and providing relief. Our eye cataract surgeries take place in regions where those who are most vulnerable can be treated and cared for. From our Eye Care Camps, we receive hundreds of referrals for those patients who require surgery.<br><br> Your donations for Cataract surgery pay for their transportation and food, specialist surgical equipment, hygiene measures, medications and after-care to restore and protect the health. <br><br>   From as little as £75, your generosity and compassion can have a life-changing effect on someone living with treatable blindness, bringing back their sight and ability to live in hope and with independence. Donate to our eye appeal and help us restore their sight.
            </p>
            
        </div>
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-8"
            >
            Your support has achieved so much so far.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            So far, your charity with generosity to our eye appeal has meant we have been able to treat 18,284 patients through 93 camps whereas we have successfully conducted 202 free eye cataract surgeries in Pakistan. The donations that you gave have enabled us to set up eye camps in remote areas to ensure those who are most in need can benefit from eye charity.<br><br>Team Al-Wahab Foundation gives pick-and-drop facility to those <span class="font-bold text-grey">surgery patients</span> and provides them with hot meals. Al-Wahab Foundation is striving to serve new areas and reach new communities across Pakistan with your continued support. <br><br> Your donations for <span class="font-bold text-grey">eye appeal</span> can have a transformative effect on those suffering from treatable eye conditions, allowing them to be able to return to work or education, providing and building for their families. With your Sadaqah and Zakat, we can work together to give back the <span class="font-bold text-grey">gift of sight </span>to children and adults struggling with preventable vision impairment and blindness.
            </p>
            
        </div>  
    </div>
    

    <!--section 4 -->
   
       
    </div>
    <!--section step -->
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    class="-mt-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-pound-sterling mb-4"
                >
                    <path d="M18 7c0-5.333-8-5.333-8 0"></path>
                    <path d="M10 7v14"></path>
                    <path d="M6 21h12"></path>
                    <path d="M6 13h10"></path>
                </svg>
                <p class="text-lg font-semibold py-2 mt-3">Step 1</p>
                <p class="text-center font-semibold text-base">
                    You select eye surgery project and make a donation on our website.
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right-left mb-4"
                >
                    <path d="m16 3 4 4-4 4"></path>
                    <path d="M20 7H4"></path>
                    <path d="m8 21-4-4 4-4"></path>
                    <path d="M4 17h16"></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 2</p>
                <p class="text-center font-semibold text-base">
                    We process the donation and send it over to our implementation partners, where eye camps are established in the chosen locations. Eye surgery patients are identified through assessments by qualified doctors
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-wrench mb-4"
                >
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
                    ></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 3</p>
                <p class="text-center font-semibold text-base">
                    Eye cataract surgeries are carried out, and patients are also counselled in an awareness programme.
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    class="duration-300 hover:stroke-maroon -mt-3"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-notepad-text mb-4"
                >
                    <path d="M8 2v4"></path>
                    <path d="M12 2v4"></path>
                    <path d="M16 2v4"></path>
                    <rect width="16" height="18" x="4" y="4" rx="2"></rect>
                    <path d="M8 10h6"></path>
                    <path d="M8 14h8"></path>
                    <path d="M8 18h5"></path>
                </svg>
                <p class="text-lg font-semibold mb-2 mt-4">Step 4</p>
                <p class="text-center font-semibold text-base">
                    Detailed feedback reports are only sent to those who donated for eye surgery.
                </p>
            </div>
        </div>
    </div>

    <!--section 6-->
    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <Otherproject SeeOtherProjects={otherproject} />
</Layout>
