---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";

import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import Singleregular from "../../components/singel-regular.astro";
const single =[
  
    {
        name : "PAKISTAN",
        title:"Support A Maktab",
        amount:"ANY AMOUNT",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/maktab/maktab2.jpg",

    },
      {
        name : "PAKISTAN",
        title:"Support A Maktab Monthly",
        amount:"30.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/maktab/maktab5.jpg",

    },
    {
        name : "PAKISTAN",
        title:"Support A Disable Child",
        amount:"100.00",
        single: "SINGLE",
        regular: "REGULAR",
        src: "/assets/images/appeals/maktab/maktab3.jpg",

    },

]
const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "/assets/images/appeals/water/Water5.jpg",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "/assets/images/appeals/water/Water6.jpg",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "/assets/images/appeals/water/Water7.jpg",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "/assets/images/appeals/water/Water8.jpg",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "/assets/images/appeals/water/Water9.jpg",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "/assets/images/appeals/water/Water10.jpg",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water1.jpg",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "/assets/images/appeals/water/Water2.jpg",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "/assets/images/appeals/water/Water3.jpg",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "/assets/images/appeals/water/Water4.jpg",
    },
];
const Restoring = [
    {
        title: "Hope for Tomorrow: Al-Wahab Foundation's Support for Abdullah's Education",
        description:
            "My name is Abdullah, and I live in Sindh with my family. I have always dreamed of going to school and learning new things. But our financial situation makes it impossible for me to attend school like other children in our neighbourhood. It feels like I am left behind, and it's disheartening to see my dreams being shattered. I am incredibly thankful to the Al-Wahab Foundation and Mufti Abdul Wahab for giving me this opportunity to study through Maktab initiative. Now, I can pursue my dreams and learn like other children. I am eager to learn and grow, and I promise to work hard to make my family proud. I thank to Mufti Abdul Wahab and Al-Wahab Foundation for supporting me so that I can have a brighter future.",
            description1: "",
        src: "/assets/images/appeals/maktab/maktab5.webp",
        buttonTitle: "Read More",
    },
];


const SupportBannerDetails = [
    {
        leftDescription: "BUILD BRIGHTER FUTURES",
        rightDescription:
            "Our Maktab initiative builds Islamic learning environments that benefit students in every aspect of their lives. From learning the principles of Islam, to memorisation of Qur’an, children are nurtured in a faith-led educational environment that stays with them as they grow. Your support can help provide dawah to children and qualified teaching in Islamic studies that will inspire and support their further development.",
        src: "/assets/images/appeals/maktab/maktab4.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "/assets/images/appeals/water/maktab1.jpg",
        title: "SUPPORT A MAKTAB",
        titleline1: "",
        titleline2: "",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon md:text-3xl font-bold text-center text-6xl">
            Sponsor a Maktab 
        </p>
        <p class="text-grey text-lg font-medium md:text-lg text-center mt-5">
            Over 280 million children around the world are deprived of education. These children <br>are often forced into a life of labour and disadvantage, stuck in a cycle of generational<br> poverty. Our Maktab initiative provides Islamic education to help children in need<br> through teaching and learning that changes futures. Donate today as Sadaqah<br> Jariyah and help them on a journey of opportunity.
        </p>
     
    </div>

    <!--card -->
    <Singleregular SingleRegulars={single}/>

    

    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    <div
    class="counter grid grid-cols-1 md:grid-cols-3 mx-auto gap-2  justify-center items-center pt-20"
>
    <!-- Item 1 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-300 my-5" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" height="80" width="80" viewBox="0 0 296.999 296.999" xml:space="preserve">
                <path d="M45.432,35.049c-0.008,0-0.017,0-0.025,0c-2.809,0-5.451,1.095-7.446,3.085c-2.017,2.012-3.128,4.691-3.128,7.543    v159.365c0,5.844,4.773,10.61,10.641,10.625c24.738,0.059,66.184,5.215,94.776,35.136V84.023c0-1.981-0.506-3.842-1.461-5.382    C115.322,40.849,70.226,35.107,45.432,35.049z"></path>			
                <path d="M262.167,205.042V45.676c0-2.852-1.111-5.531-3.128-7.543c-1.995-1.99-4.639-3.085-7.445-3.085c-0.009,0-0.018,0-0.026,0    c-24.793,0.059-69.889,5.801-93.357,43.593c-0.955,1.54-1.46,3.401-1.46,5.382v166.779    c28.592-29.921,70.038-35.077,94.776-35.136C257.394,215.651,262.167,210.885,262.167,205.042z"></path>			
                <path d="M286.373,71.801h-7.706v133.241c0,14.921-12.157,27.088-27.101,27.125c-20.983,0.05-55.581,4.153-80.084,27.344    c42.378-10.376,87.052-3.631,112.512,2.171c3.179,0.724,6.464-0.024,9.011-2.054c2.538-2.025,3.994-5.052,3.994-8.301V82.427    C297,76.568,292.232,71.801,286.373,71.801z"></path>			
                <path d="M18.332,205.042V71.801h-7.706C4.768,71.801,0,76.568,0,82.427v168.897c0,3.25,1.456,6.276,3.994,8.301    c2.545,2.029,5.827,2.78,9.011,2.054c25.46-5.803,70.135-12.547,112.511-2.171c-24.502-23.19-59.1-27.292-80.083-27.342    C30.49,232.13,18.332,219.963,18.332,205.042z"></path>
            </svg>
        </div>
        <div>
            <p
                class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
            >
                <span data-countup-number="3">3</span><span>+</span>
            </p>
            <p
                class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
            >
                Maktabs
            </p>
        </div>
    </div>

    <!-- Item 2 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-300" xmlns:xlink="http://www.w3.org/1999/xlink"  width="80.13px" height="80.13px" viewBox="0 0 80.13 80.13"  xml:space="preserve">	
                <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
            </svg>
        </div>
        <div>
            <p
                class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
            >
                <span data-countup-number="400">400</span><span>+</span>
            </p>
            <p
                class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
            >
                Students Enrolled
            </p>
        </div>
    </div>

    <!-- Item 3 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-300" xmlns:xlink="http://www.w3.org/1999/xlink"  width="80.13px" height="80.13px" viewBox="0 0 80.13 80.13"  xml:space="preserve">	
                <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
            </svg>
        </div>
        <div>
            <p
                class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
            >
                <span data-countup-number="1600">1600</span><span>+</span>
            </p>
            <p
                class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
            >
                Beneficiaries
            </p>
        </div>
    </div>

    <!-- Add more items here -->
</div>


    <!--section 2 -->

    <!--section video -->
    <div class="container mx-auto px-4 mt-16 flex justify-center items-center min-h-screen">
        <div class="relative w-full max-w-[100%] md:max-w-[88%]">
          <!-- Aspect Ratio Wrapper -->
          <div class="relative pt-[56.25%]"> <!-- 16:9 aspect ratio -->
            <iframe 
              class="absolute inset-0 w-full h-full" 
              src="https://www.youtube.com/embed/_rm_E501yiQ?si=e3d3Yqx8AntDDJjD" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
      
    <!-- -->
   
    <!--section 3 -->
    <div class="container mx-auto px-4">
        <div class="row md:px-28">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Providing Quality Education
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-medium text-justify"
            >
            <span class="text-grey font-bold">Our Maktab Project</span>, provides well-rounded, balanced Islamic education to orphans and children from low-income households, creating better futures through knowledge and learning. We strongly believe that the best form of education is that which balances worldly matters with religious and spiritual growth, which is why we designed our <span class="text-grey font-bold">Maktab project</span> to focus on both aspects of education. <br><br>Our school curriculum includes secular and Islamic subjects such as English, Maths, Urdu, Tajweed, Fiqh, Hadith, reading, and writing taught under the supervision of qualified Qaris. The purpose of our Maktabs is to support deprived students who cannot afford to study due to financial constraints. Your support ensures we can provide consistent, quality education, sharing the Qur’an, raising literacy rates, attainment and keeping children safe from exploitation.
            </p>
            
        </div>
    </div>

    <RestoringLives ReStroingLives ={Restoring} />
    
    <!--section 5  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row px-4 md:px-24">
            <p
                class="tex-xl md:text-2xl text-maroon font-bold mt-10 sm:mt-20"
            >
            How does Al-Wahab Foundation use my donation?
            </p>
            <p class="py-2 text-grey text-base sm:text-lg font-medium text-justify">
            We believe that education is the key to breaking the cycle of poverty. Your donations can count as Sadaqah Jariyah for the long-term benefit they will bring to each child and their family. 
            </p>
            <p class="py-2 text-grey text-base sm:text-lg font-medium text-justify">
             We use your donation to enrol students in our Maktabs who would otherwise remain deprived of any Islamic education due to their families’ circumstances. We give these children the tools they 
             need to build a positive future for themselves and to become advocates for Islamic education in their communities. 
            </p> 
            <p class=" py-2 text-grey text-base sm:text-lg font-medium text-justify">
               From hot meals to achievement awards, visits from 
               <a href="#" class="text-maroon hover:text-customBeige font-bold ">Mufti Abdul Wahab</a> and Eid gifts, your donation helps to care for each student. Thanks to your Maktab support, 
               we have been able to help 1,600 pupils so far due to your generous donations.
            </p>
            <p class="py-2 text-grey text-base sm:text-lg font-medium text-justify">
            Donate today and your generosity will provide essential teaching resources, books, equipment and qualified staff, 
            creating a stable, nurturing Islamic environment for children living in disadvantaged communities.
            </p>
            
        </div>
    </div>

    <!--section 4 -->
   
        <div class="flex justify-center my-10">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                SUPPORT NOW
            </a>
        </div>
    </div>
    <!--section step -->
    <div class="container mx-auto px-4 py-12">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="fill-[#ffff] hover:fill-customBeige duration-300" width="80" height="80" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 416c114.9 0 208-93.1 208-208S370.9 0 256 0 48 93.1 48 208s93.1 208 208 208zM233.8 97.4V80.6c0-9.2 7.4-16.6 16.6-16.6h11.1c9.2 0 16.6 7.4 16.6 16.6v17c15.5.8 30.5 6.1 43 15.4 5.6 4.1 6.2 12.3 1.2 17.1L306 145.6c-3.8 3.7-9.5 3.8-14 1-5.4-3.4-11.4-5.1-17.8-5.1h-38.9c-9 0-16.3 8.2-16.3 18.3 0 8.2 5 15.5 12.1 17.6l62.3 18.7c25.7 7.7 43.7 32.4 43.7 60.1 0 34-26.4 61.5-59.1 62.4v16.8c0 9.2-7.4 16.6-16.6 16.6h-11.1c-9.2 0-16.6-7.4-16.6-16.6v-17c-15.5-.8-30.5-6.1-43-15.4-5.6-4.1-6.2-12.3-1.2-17.1l16.3-15.5c3.8-3.7 9.5-3.8 14-1 5.4 3.4 11.4 5.1 17.8 5.1h38.9c9 0 16.3-8.2 16.3-18.3 0-8.2-5-15.5-12.1-17.6l-62.3-18.7c-25.7-7.7-43.7-32.4-43.7-60.1.1-34 26.4-61.5 59.1-62.4zM480 352h-32.5c-19.6 26-44.6 47.7-73 64h63.8c5.3 0 9.6 3.6 9.6 8v16c0 4.4-4.3 8-9.6 8H73.6c-5.3 0-9.6-3.6-9.6-8v-16c0-4.4 4.3-8 9.6-8h63.8c-28.4-16.3-53.3-38-73-64H32c-17.7 0-32 14.3-32 32v96c0 17.7 14.3 32 32 32h448c17.7 0 32-14.3 32-32v-96c0-17.7-14.3-32-32-32z"></path>
            </svg>
                <p class="text-lg font-semibold my-5">Step 1</p>
                <p class="text-center font-semibold text-base">
                    You select maktab project and make a donation on our website.
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="fill-maroon hover:fill-[#ffff] duration-300" width="80" height="80"  viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z"></path>
            </svg>
                <p class="text-lg font-semibold my-5">Step 2</p>
                <p class="text-center font-semibold text-base">
                    Your donation is collected and goes towards maintaining and running our Maktab facility.
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg "
            >
                <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" class="fill-[#ffff] duration-300 hover:fill-customBeige mt-8 " height="80" viewBox="0 0 512.005 512.005" width="80">
                    <path d="m286.002 61.004h-60c-8.291 0-15 6.709-15 15v21.27c-12.261 3.486-24.082 8.423-35.332 14.766l-15.132-15.132c-5.859-5.859-15.352-5.859-21.211 0l-42.422 42.422c-5.859 5.859-5.859 15.352 0 21.211l15.132 15.132c-6.343 11.25-11.279 23.071-14.766 35.332h-22.27c-8.291 0-15 6.709-15 15v60c0 8.291 6.709 15 15 15h22.27c3.486 12.261 8.423 24.082 14.766 35.332l-15.132 15.132c-5.859 5.859-5.859 15.352 0 21.211l42.422 42.422c5.859 5.859 15.352 5.859 21.211 0l15.132-15.132c11.25 6.343 23.071 11.279 35.332 14.766v21.27c0 8.291 6.709 15 15 15h60c8.291 0 15-6.709 15-15v-21.27c12.261-3.486 24.082-8.423 35.332-14.766l15.132 15.132c5.859 5.859 15.352 5.859 21.211 0l42.422-42.422c5.859-5.859 5.859-15.352 0-21.211l-15.132-15.132c6.343-11.25 11.279-23.071 14.766-35.332h22.27c8.291 0 15-6.709 15-15v-60c0-8.291-6.709-15-15-15h-22.27c-3.486-12.261-8.423-24.082-14.766-35.332l15.132-15.132c5.859-5.859 5.859-15.352 0-21.211l-42.422-42.422c-5.859-5.859-15.352-5.859-21.211 0l-15.132 15.132c-11.25-6.343-23.071-11.279-35.332-14.766v-21.27c0-8.291-6.709-15-15-15zm75 195c0 57.891-47.109 105-105 105s-105-47.109-105-105 47.109-105 105-105 105 47.109 105 105z"></path>
                    <path d="m256.002.004c-140.61 0-256 115.39-256 256 0 94.244 53.553 181.174 134.815 225.218l-4.645 1.749c-7.749 2.915-11.675 11.558-8.745 19.321 2.924 7.784 11.622 11.656 19.321 8.745l38.452-14.473c3.911-1.465 7.017-4.497 8.599-8.364s1.479-8.218-.293-12.012l-17.93-38.452c-3.501-7.485-12.407-10.752-19.937-7.251-7.5 3.501-10.752 12.422-7.251 19.937l.267.575c-67.947-39.864-112.653-114.397-112.653-194.993 0-124.072 101.928-226 226-226 8.291 0 15-6.709 15-15s-6.709-15-15-15z"></path>
                    <path d="m375.42 29.648 2.032-.881c7.602-3.294 11.094-12.126 7.8-19.728-3.294-7.601-12.127-11.094-19.728-7.799l-33.4 14.474c-3.716 1.61-6.623 4.654-8.06 8.44-1.438 3.786-1.282 7.992.429 11.662l17.93 38.451c3.517 7.544 12.46 10.742 19.934 7.256 7.509-3.501 10.757-12.426 7.256-19.934l-.504-1.08c68.546 40.148 112.894 115.333 112.894 195.494 0 124.617-101.383 226-226 226-8.284 0-15 6.716-15 15s6.716 15 15 15c140.96 0 256-115.049 256-256-.001-97.393-55.499-183.344-136.583-226.355z"></path>
                </svg>
                <p class="text-lg font-semibold my-5">Step 3</p>
                <p class="text-center font-semibold text-base">
                    We assess the progress of each child through annual examinations. We also hold a Khatam-ul-Quran graduation ceremony to acknowledge the children’s achievements.
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
            <svg aria-hidden="true" class="fill-maroon hover:fill-[#ffff] duration-300 " height="80" width="80" viewBox="0 0 384 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM96 424c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm96-192c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm128 368c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"></path>
            </svg>
                <p class="text-lg font-semibold my-5">Step 4</p>
                <p class="text-center font-semibold text-base">
                    Children receive gifts from our team for the completion of their Quran.
                </p>
            </div>
        </div>
    </div>

    <!--section 6-->
    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <Otherproject SeeOtherProjects={otherproject} />
</Layout>
