---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";

const otherproject = [
  {
    title: "Build a Masjid",
    description:
      "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
    src: "/assets/images/appeals/water/Water5.jpg",
  },
  {
    title: "Pay Zakat Online",
    description:
      "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
    src: "/assets/images/appeals/water/Water6.jpg",
  },
  {
    title: "Women Empowerment",
    description:
      "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
    src: "/assets/images/appeals/water/Water7.jpg",
  },
  {
    title: "Give your Sadaqah",
    description:
      "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
    src: "/assets/images/appeals/water/Water8.jpg",
  },
  {
    title: "Support a Maktab",
    description:
      "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
    src: "/assets/images/appeals/water/Water9.jpg",
  },
  {
    title: "Water for Life",
    description:
      "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
    src: "/assets/images/appeals/water/Water10.jpg",
  },
  {
    title: "Where Most Needed",
    description:
      "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
    src: "/assets/images/appeals/water/Water1.jpg",
  },
  {
    title: "Hope For Uganda",
    description:
      "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
    src: "/assets/images/appeals/water/Water2.jpg",
  },
  {
    title: "Serving Humanity in the UK",
    description:
      "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
    src: "/assets/images/appeals/water/Water3.jpg",
  },
  {
    title: "Winter Survival Kit",
    description:
      "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
    src: "/assets/images/appeals/water/Water4.jpg",
  },
];
const Restoring = [
  {
    title:
      "Roshmail Expresses Immense Gratitude Towards AWF for Providing Him with Rickshaw ",
    description:
      "My name is Roshmail, and I reside in Sindh with my family. Our lives have been challenging due to the lack of stable employment. Providing for my children and meeting their needs has become a difficult task. I longed for a sustainable source of income to ensure a better life for my family, but the circumstances made it difficult to find opportunities. I am deeply thankful to Al-Wahab Foundation and Mufti Abdul Wahab for providing me with this rickshaw. I can now earn a sustainable income to support my loved ones. May Allah (SWT) bless Mufti Abdul Wahab and the dedicated team of Al-Wahab Foundation for their kindness and support during our time of need.",
      description1: "",
    src: "https://alwahabfoundation.org/wp-content/uploads/2023/08/QUR00879-1a-1024x683.jpg",
    buttonTitle: "Read More",
  },
];
const card = [
  {
    name: "PAKISTAN",
    title: "Rozgar",
    amount: "ANY AMOUNT",
    src: "https://icharms.alwahabfoundation.org/storage/program/5KCTOoyC6NyoDKd4uXZwpXt7BF24ap21ofVSrmhV.jpg",
  },
  {
    name: "PAKISTAN",
    title: "Motor Bike",
    amount: "450.00",
    src: "https://icharms.alwahabfoundation.org/storage/program/iQeqCBJZttOFkOeFu8c9dpHiBLn6c8mmUmuYUXpG.jpg",
  },
  {
    name: "PAKISTAN",
    title: "Rickshaw",
    amount: "1500.00",
    src: "https://icharms.alwahabfoundation.org/storage/program/lBBv8zeSeTZJQATAxsJvgXEjKCFBIoRh5ab2fNW9.jpg    ",
  },
  {
    name: "PAKISTAN",
    title: "Small Business",
    amount: "1000.00",
    src: "https://icharms.alwahabfoundation.org/storage/program/9ACsmpggT5NCJGtKMVAsOXb2gNSwAzmQocPmRClB.jpg",
  },
];

const SupportBannerDetails = [
  {
    leftDescription: "YOUR SUPPORT CAN TRANSFORM LIVES!",
    rightDescription:
      "In Islam, relieving others’ hardships is a fundamental principle. Our founder, Mufti Abdul Wahab, firmly believes that empowering individuals to attain a sustainable income is the most effective way to combat poverty and bring about lasting change. By contributing to our Rozgar project with your Zakat or Sadaqah donation, you not only help create this income but also give independence and dignity to those in need, breaking the cycle of poverty for generations to come. Your donation today can be the catalyst that transforms their futures. Donate now and make a difference in their lives.",
    src: "/assets/images/appeals/maktab/Rozgar2.jpg",
  },
];
const HeaderBannerData = [
  {
    src: "/assets/images/appeals/maktab/Rozgar1.jpg",
    title: "ROZGAR PROJECT - LIVELIHOOD",
    titleline1: "",
    titleline2: "",
  },
];
---

<Layout>
  <HeadersBanner HeadersBanners={HeaderBannerData} />
  <UmmahCharity />
  <div class="mt-12 md:px-72">
    <p class="text-maroon md:text-4xl font-bold text-center text-xl">
      Help Create Livelihood Opportunities
    </p>
    <p class="text-grey text-base font-medium md:text-lg text-center mt-5">
      The economic statistics in Pakistan sound alarming, with approximately 24%
      of the population living below the poverty line, a figure aggravated by
      the impact of the economic crisis and inflation. Compounded by insufficient
      infrastructure and limited employment prospects, the daily struggles 
     of people in remote regions present a disheartening image. 
     </p>
     <p class="text-grey text-base font-medium md:text-lg text-center mt-5">
      However, at Al-Wahab Foundation, we are committed to creating solutions 
     that bring hope and stability to struggling families, liberating them
      from the poverty cycle. By offering means for a stable livelihood, we
      are touching the lives of countless people across Pakistan.
      Together, we can work towards a brighter and more prosperous future for
      those in need.
    </p>
  </div>

  <!--card -->
  <CardforCountry CountryCardDetails={card} />

  <!--support banner -->
  <SupportBanner BannerDetails={SupportBannerDetails} />
  <!--section n -->
  <div
    class="counter flex justify-center items-center flex-wrap-reverse md:flex-nowrap gap-6 px-4 pt-20 "
  >
    <!-- Item 1 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" height="80" class="fill-maroon hover:fill-customBeige duration-300" viewBox="0 0 53 53" width="80">
          <path d="m49.3381348 11.1287203c-.5682106-.076663-1.0802994.309659-1.1624756.8698521l-.663414 4.6203394-1.9468956.9827805-.8873253-7.7091045c-.3386612-2.9554186-2.5141678-5.3669291-5.397747-6.0031586-8.3120747-1.8266402-17.8966733-1.8573931-25.6443596-.0615688-2.8322811.6464391-4.9667635 3.04774-5.2951508 5.972343l-.8980999 7.8055591-1.9549131-.9868507-.663413-4.6203394c-.0811725-.5606937-.5882525-.9515257-1.1624753-.8698521-.5601928.0806713-.9500229.6007795-.8698523 1.1614733l.7395749 5.1499672c.0481024.331707.2545421.619318.5541801.7701397l3.1431308 1.5859394c-.2849817 3.2567482-.2508464 6.5416813.137042 9.788847l1.2006187 9.8718987c.1372929 1.1496353.7529793 2.1270905 1.6213903 2.7785416v3.4504089c0 1.1698647 1.0774822 2.1242104 2.3909674 2.1242104h2.0626421c1.3135471 0 2.3910294-.9543457 2.3910294-2.1242104v-2.6167603h1.862278c.0197926.0011292.0365772.0115242.0566826.0115242h2.1344833v4.340744c0 1.7035027 1.3750534 3.0785561 3.0785561 3.0785561h4.6794033c1.6931667 0 3.0785561-1.3750534 3.0785561-3.0785561v-4.340744h2.1242085c.0201073 0 .0368919-.0103951.0566864-.0115242h1.8724861v2.6167603c0 1.1698647 1.0672722 2.1242104 2.3807564 2.1242104h2.062645c1.3135452 0 2.3910294-.9543457 2.3910294-2.1242104v-3.4504091c.868412-.6514511 1.4840965-1.6289063 1.6213875-2.7785416.9520149-8.4538822 1.5392799-10.9567375 1.5392799-15.567215 0-1.3675365-.0774765-2.7336349-.1937866-4.0966625l3.1369896-1.5828075c.2996407-.1508217.5060806-.4384327.5541801-.7701397l.7395782-5.1499672c.0801695-.5606937-.309662-1.0808019-.8698541-1.1614732zm-34.901825 1.6166925c.1436815-1.5187969 1.4264126-2.6783915 2.9554195-2.6783915h18.2456036c1.529007 0 2.8014679 1.1595945 2.9451485 2.6783915l.8209343 8.3941879h-25.7880411zm15.7314377 15.9468975c0 2.031826-1.6418705 3.6737595-3.6634884 3.6737595-2.031826 0-3.6737614-1.6419334-3.6737614-3.6737595 0-2.0216179 1.6419353-3.6840324 3.6737614-3.6840324 2.0216179 0 3.6634884 1.6624145 3.6634884 3.6840324zm-16.8602161-.6465015c-.5643892 0-1.026185-.4617958-1.026185-1.026186 0-.5746613.4617958-1.026186 1.026185-1.026186h4.0944691c.5643902 0 1.026186.4515247 1.026186 1.026186 0 .5643902-.4617958 1.026186-1.026186 1.026186zm6.1327476 12.7465191c1.0662708-2.8659172 3.8194466-4.9064484 7.0639801-4.9064484 3.2362671 0 5.9879398 2.0405312 7.053896 4.9064484zm15.1297817-13.7727051c0-.5746613.4617958-1.026186 1.0261841-1.026186h4.094532c.5643921 0 1.0261879.4515247 1.0261879 1.026186 0 .5643902-.4617958 1.026186-1.0261879 1.026186h-4.094532c-.5643883 0-1.0261841-.4617958-1.0261841-1.026186z">
          </path>
        </svg>
      </div>
      <div>
        <p
          class="text-2xl font-bold font-hind text-grey dark:text-blackColor-dark"
        >
          <span data-countup-number="58">58</span><span>+</span>
        </p>
        <p
          class="uppercase text-grey font-medium dark:text-blackColor-dark"
        >
          Rickshaws Distributed
        </p>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" height="80" class="fill-maroon hover:fill-customBeige duration-300" viewBox="0 0 512 512" width="80">
          <rect height="218.66" rx="38.43" width="77.24" x="217.38" y="293.34"></rect>
          <path d="m411.12 43.35h-49.34c-3.94-7.67-11.91-12.93-21.13-12.93h-22.87c-7.47 0-14.41-3.59-19-9.49-9.91-12.74-25.39-20.94-42.78-20.94s-32.87 8.2-42.78 20.94c-4.59 5.9-11.52 9.49-19 9.49h-22.87c-9.22 0-17.19 5.26-21.13 12.93h-49.34c-5.98 0-10.83 4.85-10.83 10.83s4.85 10.83 10.83 10.83h49.34c3.94 7.67 11.91 12.93 21.13 12.93h22.87c7.47 0 14.41 3.59 19 9.49 9.91 12.74 25.39 20.94 42.78 20.94s32.87-8.2 42.78-20.94c4.59-5.9 11.52-9.49 19-9.49h22.87c9.22 0 17.19-5.26 21.13-12.93h49.34c5.98 0 10.83-4.85 10.83-10.83s-4.85-10.83-10.83-10.83zm-155.12 40.85c-16.7 0-30.23-13.53-30.23-30.23s13.53-30.23 30.23-30.23 30.23 13.53 30.23 30.23-13.53 30.23-30.23 30.23z"></path><path d="m380.04 183.96c-5.16-26.62-29.49-52.37-56.04-58.25-16.12-3.35-38.05-6.63-68-6.69-29.94.05-51.87 3.34-68 6.69-26.55 5.88-50.88 31.62-56.04 58.25-3.24 16.23-7.25 61.47-6.92 91.4-.33 29.93 3.68 75.18 6.92 91.4 5.16 26.63 29.49 52.37 56.04 58.25 3.65.76 7.62 1.51 11.89 2.23v-95.28c0-30.93 25.17-56.1 56.1-56.1s56.1 25.17 56.1 56.1v95.28c4.27-.72 8.24-1.47 11.89-2.23 26.55-5.88 50.88-31.62 56.04-58.25 3.24-16.22 7.25-61.47 6.92-91.4.33-29.93-3.68-75.18-6.92-91.4zm-187.27 45.29c-.71 3.65-4.04 7.18-7.69 7.99-2.21.46-5.22.91-9.33.92-4.11 0-7.11-.46-9.33-.92-3.64-.81-6.98-4.34-7.69-7.99-.44-2.23-.95-11.32-.95-23.61s.5-21.39.95-23.61c.71-3.65 4.04-7.18 7.69-7.99 2.21-.46 5.22-.91 9.33-.92 4.11 0 7.11.46 9.33.92 3.64.81 6.98 4.34 7.69 7.99.44 2.23.95 12.02.95 23.61 0 12.3-.5 21.39-.95 23.61zm160.48 0c-.71 3.65-4.04 7.18-7.69 7.99-2.21.46-5.22.91-9.33.92-4.11 0-7.11-.46-9.33-.92-3.64-.81-6.98-4.34-7.69-7.99-.44-2.23-.95-11.32-.95-23.61s.5-21.39.95-23.61c.71-3.65 4.04-7.18 7.69-7.99 2.21-.46 5.22-.91 9.33-.92 4.11 0 7.11.46 9.33.92 3.64.81 6.98 4.34 7.69 7.99.44 2.23.95 12.02.95 23.61 0 12.3-.5 21.39-.95 23.61z"></path>
        </svg>
      </div>
      <div>
        <p
          class="text-2xl font-bold font-hind text-grey dark:text-blackColor-dark"
        >
          <span data-countup-number="80">80</span><span>+</span>
        </p>
        <p
          class="uppercase text-grey font-medium dark:text-blackColor-dark"
        >
          Motorbikes Distributed
        </p>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-maroon hover:fill-customBeige duration-300" xmlns:xlink="http://www.w3.org/1999/xlink"  width="80px" height="80px" viewBox="0 0 80.13 80.13" xml:space="preserve">	
          <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
        </svg>
      </div>
      <div>
        <p
          class="text-2xl font-bold font-hind text-grey dark:text-blackColor-dark"
        >
          <span data-countup-number="1380 ">1380 </span><span>+</span>
        </p>
        <p
          class="uppercase text-grey font-medium dark:text-blackColor-dark"
        >
          Families given a stable income
        </p>
      </div>
    </div>
    <!-- Item 4 -->

    <!-- Repeat similar structure for Items 3 to 7 -->
  </div>

  <!--section 2 -->

  <!--section video -->
  <div class="container mx-auto md:px-14 md:py-8 mt-16">
    <div class="relative overflow-hidden" style="padding-top: 56.25%;">
      <iframe
        class="absolute top-0 left-0 w-full h-full"
        src="https://www.youtube.com/embed/8fJOx1fwCo4?si=vN6dJyb0LGbAhVda"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <!-- -->

  <!--section 3 -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-4 md:px-24">
      <p class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20">
        Why Donate to AWF’s Rozgar Project?
      </p>
      <p
        class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-medium text-justify"
      >
        Breaking the poverty cycle in deprived communities requires innovative
        and sustainable change. Every individual should have the opportunity to
        work and earn a stable income, living with dignity alongside their
        families and within their communities. <br /><br />However, in many
        parts of Pakistan, this right is difficult to attain. Rural areas,
        dependent on agriculture, face significant challenges when disasters
        strike, while social inequalities hinder access to proper education and
        training.
        <br /><br />
        At <a href="#" class="text-maroon hover:text-customBeige font-bold"
          >Al-Wahab Foundation</a
        >, our visionary founder, Mufti Abdul Wahab, leads the way in providing
        support to establish empowering businesses and work opportunities that
        build resilience against future crises. Your donation plays a vital role
        in creating lasting change and independence. From offering
        transportation that generates income to providing skills training,
        essential tools, and halal business loans, your contribution fosters
        positive, long-term impacts. Together, we can pave the path towards a
        brighter future for these communities.
      </p>
    </div>
  </div>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-4 md:px-24">
      <p class="md:text-2xl text-lg text-maroon font-bold mt-10">
        Mufti Abdul Wahab in Pakistan: Rozgar Project Distribution Event
      </p>
      <p class="mt-5 text-grey text-base sm:text-lg font-medium text-justify">
        Chairman Al-Wahab Foundation, Mufti Abdul Wahab recently visited
        Pakistan to lead a significant distribution event for the Rozgar
        Project. AWF’s efforts were focused on providing rickshaws and delivery
        motorbikes to those in need, offering them a dignified income source
        through the Rozgar Project. <br />
        During this visit, <a
          href="#"
          class="text-maroon hover:text-customBeige font-bold"
          >Mufti Abdul Wahab
        </a>
        provided 24 rickshaws and 50 motorbikes, to well-deserving individuals. The
        chairman’s visit underscored AWF’s dedication to transforming lives and fostering
        sustainable empowerment within the communities it serves.
      </p>
    </div>
  </div>

  <RestoringLives ReStroingLives={Restoring} />

  <!--section 5  -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-4 md:px-24">
      <p class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20">
        How is Al-Wahab Foundation Creating Livelihoods?
      </p>
      <p
        class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-medium text-justify"
      >
        At Al-Wahab Foundation, we strongly believe in creating stable incomes
        for impoverished families to secure brighter futures that positively
        impact entire communities. Your generous donations enable us to offer
        tools and opportunities that establish new livelihoods for those living
        in disadvantaged areas. A fair and steady income not only empowers
        individuals but also supports entire households, promoting safety,
        better health, and protection from exploitation.<br /><br />
        Our <span class="font-bold text-grey">
        Rozgar Project</span> focuses on providing vulnerable families with employment-related tools,
        such as rickshaws and delivery motorbikes, empowering them to work independently
        and generate a halal income. Your support makes a significant difference
        in transforming lives and uplifting communities.<br /><br />
        <span class="font-bold text-grey">
        The Messenger of Allah (swt) said, “It is better for any one of you
        to carry a bundle of wood on his back and sell it than to beg of
        someone whether he gives him or refuses.”- Al-Bukhari and Muslim</span>

        </p>        
        <p>
         Your <a href="#" class="text-maroon hover:text-customBeige font-bold">donation of Zakat</a>
        or <a href="#" class="text-maroon hover:text-customBeige font-bold">Sadaqah</a>
         has the power to change their lives with our innovative, long-term solutions
        to tackling poverty. When you give with AWF, you can be sure your donation
        will make a real difference to those in desperate need.
      </p>
    </div>
  </div>
  <div class="container mx-auto px-4 md:px-6">
    <div class="row px-4 md:px-24">
      <!-- Title -->
      <p class="text-lg md:text-2xl text-maroon font-bold my-5">
        Providing Job Opportunities With Motorbikes
      </p>
  
      <!-- Description -->
      <p class="my-5 text-grey text-base md:text-lg font-medium text-justify">
        Motorbikes have proven to be an excellent means of empowering people with employment opportunities. The <span class="text-grey font-bold">Rozgar Project</span> identifies individuals who are eager to work and possess the necessary skills but lack access to transportation to kick-start their careers.
         Through <a href="#" class="text-maroon hover:text-customBeige font-bold"> generous donations </a> and community support, the project provides motorbikes to these individuals, enabling them to venture into delivery services for local businesses.
      </p>
    </div>
  </div>
  
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-4 md:px-24">
      <p class="md:text-2xl text-lg text-maroon font-bold ">
        Our Achievement So Far…!
      </p>
      <p class=" my-5 text-grey text-base md:text-lg font-medium text-justify">
        Under the vision of chairman Mufti Abdul Wahab and the generous support
        from our valued donors, Al-Wahab Foundation has successfully provided a
        total of 73 rickshaws and 130 motorbikes. This initiative has had a
        significant impact by creating sustainable income sources for 980
        beneficiaries. Through these efforts, we are empowering individuals to
        achieve financial stability and a brighter future for themselves and
        their families. We remain dedicated to our mission of uplifting lives
        and making a positive difference in the communities we serve, all made
        possible by the collective support and dedication of our donors and
        team.
      </p>
    </div>
  </div>

  <!--section 4 -->

  <div class="flex justify-center mt-10 sm:mt-12 mb-4">
    <a
      href="#"
      class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
    >
      DONATE NOW
    </a>
  </div>

<!--section step -->
<div class="container mx-auto px-4 py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
    <!-- Step 1 -->
    <div
      class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
    >
      <svg
        class="-mt-4"
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pound-sterling mb-4"
      >
        <path d="M18 7c0-5.333-8-5.333-8 0"></path>
        <path d="M10 7v14"></path>
        <path d="M6 21h12"></path>
        <path d="M6 13h10"></path>
      </svg>
      <p class="text-lg font-semibold py-2 mt-3">Step 1</p>
      <p class="text-center font-semibold text-base">
        You select maktab project and make a donation on our website.
      </p>
    </div>

    <!-- Step 2 -->
    <div
      class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-arrow-right-left mb-4"
      >
        <path d="m16 3 4 4-4 4"></path>
        <path d="M20 7H4"></path>
        <path d="m8 21-4-4 4-4"></path>
        <path d="M4 17h16"></path>
      </svg>
      <p class="text-lg font-semibold mb-2">Step 2</p>
      <p class="text-center font-semibold text-base">
        Your donation is collected and goes towards maintaining and running our
        Maktab facility.
      </p>
    </div>

    <!-- Step 3 -->
    <div
      class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-wrench mb-4"
      >
        <path
          d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
        ></path>
      </svg>
      <p class="text-lg font-semibold mb-2">Step 3</p>
      <p class="text-center font-semibold text-base">
        We assess the progress of each child through annual examinations. We
        also hold a Khatam-ul-Quran graduation ceremony to acknowledge the
        children’s achievements.
      </p>
    </div>

    <!-- Step 4 -->
    <div
      class="bg-customBeige flex flex-col items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
    >
      <svg
        class="duration-300 hover:stroke-maroon -mt-3"
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-notepad-text mb-4"
      >
        <path d="M8 2v4"></path>
        <path d="M12 2v4"></path>
        <path d="M16 2v4"></path>
        <rect width="16" height="18" x="4" y="4" rx="2"></rect>
        <path d="M8 10h6"></path>
        <path d="M8 14h8"></path>
        <path d="M8 18h5"></path>
      </svg>
      <p class="text-lg font-semibold mb-2 mt-4">Step 4</p>
      <p class="text-center font-semibold text-base">
        Children receive gifts from our team for the completion of their Quran.
      </p>
    </div>
  </div>
</div>

<!--section 6-->
<div class="container">
  <div class="row">
    <p class="text-grey font-bold text-3xl text-center py-4">
      See other Project
    </p>
  </div>
</div>
<Otherproject SeeOtherProjects={otherproject} />
</Layout>