---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";

const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "/assets/images/appeals/water/Water5.jpg",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "/assets/images/appeals/water/Water6.jpg",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "/assets/images/appeals/water/Water7.jpg",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "/assets/images/appeals/water/Water8.jpg",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "/assets/images/appeals/water/Water9.jpg",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "/assets/images/appeals/water/Water10.jpg",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "/assets/images/appeals/water/Water1.jpg",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "/assets/images/appeals/water/Water2.jpg",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "/assets/images/appeals/water/Water3.jpg",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "/assets/images/appeals/water/Water4.jpg",
    },
];
const Restoring = [
    {
        title: "Roshmail Expresses Immense Gratitude Towards AWF for Providing Him with Rickshaw ",
        description:
            "My name is Roshmail, and I reside in Sindh with my family. Our lives have been challenging due to the lack of stable employment. Providing for my children and meeting their needs has become a difficult task. I longed for a sustainable source of income to ensure a better life for my family, but the circumstances made it difficult to find opportunities. I am deeply thankful to Al-Wahab Foundation and Mufti Abdul Wahab for providing me with this rickshaw. I can now earn a sustainable income to support my loved ones. May Allah (SWT) bless Mufti Abdul Wahab and the dedicated team of Al-Wahab Foundation for their kindness and support during our time of need.",
        src: "https://alwahabfoundation.org/wp-content/uploads/2023/08/QUR00879-1a-1024x683.jpg",
        buttonTitle: "Read More",
    },
];
const card = [
    {
        name: "PAKISTAN",
        title: "Rozgar",
        amount: "ANY AMOUNT",
        src: "https://icharms.alwahabfoundation.org/storage/program/5KCTOoyC6NyoDKd4uXZwpXt7BF24ap21ofVSrmhV.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Motor Bike",
        amount: "450.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/iQeqCBJZttOFkOeFu8c9dpHiBLn6c8mmUmuYUXpG.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Rickshaw",
        amount: "1500.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/lBBv8zeSeTZJQATAxsJvgXEjKCFBIoRh5ab2fNW9.jpg    ",
    },
    {
        name: "PAKISTAN",
        title: "Small Business",
        amount: "1000.00",
        src: "https://icharms.alwahabfoundation.org/storage/program/9ACsmpggT5NCJGtKMVAsOXb2gNSwAzmQocPmRClB.jpg",
    },
];
const BannerDatas = [
    {
        src: "/assets/images/website-banner-UK-winter-1.jpg",
        title: " Rohingya Appeal in Action",
    },
];

const SupportBannerDetails = [
    {
        leftDescription: "YOUR SUPPORT CAN TRANSFORM LIVES!",
        rightDescription:
            "In Islam, relieving others’ hardships is a fundamental principle. Our founder, Mufti Abdul Wahab, firmly believes that empowering individuals to attain a sustainable income is the most effective way to combat poverty and bring about lasting change. By contributing to our Rozgar project with your Zakat or Sadaqah donation, you not only help create this income but also give independence and dignity to those in need, breaking the cycle of poverty for generations to come. Your donation today can be the catalyst that transforms their futures. Donate now and make a difference in their lives.",
        src: "/assets/images/Help-The-Homeless-in-UK.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/07/3L5A6312-Edit.jpg",
        title: "ROZGAR PROJECT - LIVELIHOOD",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon md:text-3xl font-bold text-center text-6xl">
            Help Create Livelihood Opportunities
        </p>
        <p class="text-grey text-lg font-semibold md:text-xl text-center mt-5">
            The economic statistics in Pakistan sound alarming, with approximately 24% <br>of the population living below the poverty line, a figure aggravated by the<br> impact of the economic crisis and inflation. Compounded by insufficient<br> infrastructure and limited employment prospects, the daily struggles <br>of people in remote regions present a disheartening image. <br><br>However, at Al-Wahab Foundation, we are committed to creating solutions <br>that bring hope and stability to struggling families, liberating them from<br> the poverty cycle. By offering means for a stable livelihood, we are touching <br>the lives of countless people across Pakistan. Together, we can work<br> towards a brighter and more prosperous future for those in need.
        </p>
     
    </div>

    <!--card -->
    <CardforCountry CountryCardDetails={card} />

    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    <div
        class="counter flex justify-center items-center flex-nowrap gap-6 pt-20 overflow-auto"
    >
        <!-- Item 1 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="58">58</span><span
                        >+</span
                    >
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                Rickshaws Distributed
                </p>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="80">80</span><span>+</span>
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                Motorbikes Distributed 
                </p>
            </div>
        </div>
        <!-- Item 3 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
            <div>
                <img
                    src="https://via.placeholder.com/50"
                    alt="icon"
                    class="mx-auto"
                />
            </div>
            <div>
                <p
                    class="text-2xl font-bold font-hind text-blackColor dark:text-blackColor-dark"
                >
                    <span data-countup-number="1380 ">1380 </span><span
                        >+</span
                    >
                </p>
                <p
                    class="uppercase text-blackColor font-medium dark:text-blackColor-dark"
                >
                Families given a stable income
                </p>
            </div>
        </div>
        <!-- Item 4 -->
        

        <!-- Repeat similar structure for Items 3 to 7 -->
    </div>

    <!--section 2 -->

    <!--section video -->
    <div class="container mx-auto px-4 mt-16">
        <div class="relative overflow-hidden pb-[40%]">
            <iframe
                class="absolute top-0 left-0 w-full h-full"
                src="https://www.youtube.com/embed/rKE-aUoKWhE?si=Hix0Wt-am77ezPpB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            >
            </iframe>
        </div>
    </div>

    <!-- -->
    

   
    <!--section 3 -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Why Donate to AWF’s Rozgar Project?
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            Breaking the poverty cycle in deprived communities requires innovative and sustainable change. Every individual should have the opportunity to work and earn a stable income, living with dignity alongside their families and within their communities. <br><br>However, in many parts of Pakistan, this right is difficult to attain. Rural areas, dependent on agriculture, face significant challenges when disasters strike, while social inequalities hinder access to proper education and training.<br><br>At <a href="#" class="text-maroon hover:text-customBeige font-bold">Al-Wahab Foundation</a>, our visionary founder, Mufti Abdul Wahab, leads the way in providing support to establish empowering businesses and work opportunities that build resilience against future crises. Your donation plays a vital role in creating lasting change and independence. From offering transportation that generates income to providing skills training, essential tools, and halal business loans, your contribution fosters positive, long-term impacts. Together, we can pave the path towards a brighter future for these communities.
            </p>
            
        </div>
    </div>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Mufti Abdul Wahab in Pakistan: Rozgar Project Distribution Event
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            Chairman Al-Wahab Foundation, Mufti Abdul Wahab recently visited Pakistan to lead a significant distribution event for the Rozgar Project. AWF’s efforts were focused on providing rickshaws and delivery motorbikes to those in need, offering them a dignified income source through the Rozgar Project. <br><br>During this visit, <a href="#" class="text-maroon hover:text-customBeige font-bold">Mufti Abdul Wahab </a> provided 24 rickshaws and 50 motorbikes, to well-deserving individuals. The chairman’s visit underscored AWF’s dedication to transforming lives and fostering sustainable empowerment within the communities it serves.
            </p>
            
        </div>
    </div>

    <RestoringLives ReStroingLives={Restoring} />
    
    <!--section 5  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            How is Al-Wahab Foundation Creating Livelihoods?            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            At Al-Wahab Foundation, we strongly believe in creating stable incomes for impoverished families to secure brighter futures that positively impact entire communities.<br><br>Your generous donations enable us to offer tools and opportunities that establish new livelihoods for those living in disadvantaged areas. A fair and steady income not only empowers individuals but also supports entire households, promoting safety, better health, and protection from exploitation.<br><br>Our <span class="font-bold text-grey">Rozgar Project</span> focuses on providing vulnerable families with employment-related tools, such as rickshaws and delivery motorbikes, empowering them to work independently and generate a halal income. Your support makes a significant difference in transforming lives and uplifting communities.<br><br><span class="font-bold text-grey">The Messenger of Allah (swt) said, “It is better for any one of you to carry a bundle of wood on his back and sell it than to beg of someone whether he gives him or refuses.”- Al-Bukhari and Muslim</span><br><br>Your <a href="#" class="text-maroon hover:text-customBeige font-bold">donation of Zakat</a>  or <a href="#" class="text-maroon hover:text-customBeige font-bold">Sadaqah</a> has the power to change their lives with our innovative, long-term solutions to tackling poverty. When you give with AWF, you can be sure your donation will make a real difference to those in desperate need.

            </p>
            
        </div>
    </div>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Providing Job Opportunities With Motorbikes          </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            Motorbikes have proven to be an excellent means of empowering people with employment opportunities. The <span class="text-grey font-bold">Rozgar Project</span> identifies individuals who are eager to work and possess the necessary skills but lack access to transportation to kick-start their careers. Through <a href="#" class="text-maroon hover:text-customBeige font-bold">generous donations</a> and community support, the project provides motorbikes to these individuals, enabling them to venture into delivery services for local businesses.
            </p>
            
        </div>
    </div>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Our Achievement So Far…!            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
            >
            Under the vision of chairman Mufti Abdul Wahab and the generous support from our valued donors, Al-Wahab Foundation has successfully provided a total of 73 rickshaws and 130 motorbikes. This initiative has had a significant impact by creating sustainable income sources for 980 beneficiaries. Through these efforts, we are empowering individuals to achieve financial stability and a brighter future for themselves and their families. We remain dedicated to our mission of uplifting lives and making a positive difference in the communities we serve, all made possible by the collective support and dedication of our donors and team.
            </p>
            
        </div>
    </div>

    <!--section 4 -->
   
        <div class="flex justify-center mt-10 sm:mt-12">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                DONATE NOW
            </a>
        </div>
    </div>
    <!--section step -->
    <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    class="-mt-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-pound-sterling mb-4"
                >
                    <path d="M18 7c0-5.333-8-5.333-8 0"></path>
                    <path d="M10 7v14"></path>
                    <path d="M6 21h12"></path>
                    <path d="M6 13h10"></path>
                </svg>
                <p class="text-lg font-semibold py-2 mt-3">Step 1</p>
                <p class="text-center font-semibold text-base">
                    You select maktab project and make a donation on our website.
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right-left mb-4"
                >
                    <path d="m16 3 4 4-4 4"></path>
                    <path d="M20 7H4"></path>
                    <path d="m8 21-4-4 4-4"></path>
                    <path d="M4 17h16"></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 2</p>
                <p class="text-center font-semibold text-base">
                    Your donation is collected and goes towards maintaining and running our Maktab facility.
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-wrench mb-4"
                >
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
                    ></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 3</p>
                <p class="text-center font-semibold text-base">
                    We assess the progress of each child through annual examinations. We also hold a Khatam-ul-Quran graduation ceremony to acknowledge the children’s achievements.
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    class="duration-300 hover:stroke-maroon -mt-3"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-notepad-text mb-4"
                >
                    <path d="M8 2v4"></path>
                    <path d="M12 2v4"></path>
                    <path d="M16 2v4"></path>
                    <rect width="16" height="18" x="4" y="4" rx="2"></rect>
                    <path d="M8 10h6"></path>
                    <path d="M8 14h8"></path>
                    <path d="M8 18h5"></path>
                </svg>
                <p class="text-lg font-semibold mb-2 mt-4">Step 4</p>
                <p class="text-center font-semibold text-base">
                    Children receive gifts from our team for the completion of their Quran.
                </p>
            </div>
        </div>
    </div>

    <!--section 6-->
    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <Otherproject SeeOtherProjects={otherproject} />
</Layout>
