---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
import Singleregular from "../../components/singel-regular.astro";
const single =[
  
    {
        name : "PAKISTAN",
        title:"Sadaqah",
        amount:"1.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "https://icharms.alwahabfoundation.org/storage/program/P3T55aPnYAeRz682q1niNZGch5LxLtDQyNWdlG8K.jpg",

    },
      {
        name : "PAKISTAN",
        title:"Sadaqah Sacrifice",
        amount:"100.00 ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "https://icharms.alwahabfoundation.org/storage/program/9hAJHOxTZ5dMX4JYsl7gghxRH6gAwhNQ6pTOzOlA.jpg",

    },
    {
        name : "PAKISTAN",
        title:"Where Most Needed",
        amount:"ANY AMOUNT ",
        single: "SINGLE",
        regular: "REGULAR",
        src: "https://icharms.alwahabfoundation.org/storage/program/eJSEZYRaZYqsZjYygSWhl5nYV2m1aoDcHtYlK8mD.jpg",

    }
]
const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "https://picsum.photos/200",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "https://picsum.photos/200",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "https://picsum.photos/200",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "https://picsum.photos/200",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "https://picsum.photos/200",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "https://picsum.photos/200",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "https://picsum.photos/200",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "https://picsum.photos/200",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "https://picsum.photos/200",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "https://picsum.photos/200",
    },
];
const Restoring = [
    {
        title: " Your Sadaqah Changed Tasleem Jahan’s Life!  ",
        description:
            "“My family and I have been living in financial constraints for years now. My husband’s income is not enough to cover our expenses, especially because one of our sons is suffering from a mental disability and needs medications which are quite expensive. It is never easy to extend a hand for seeking help. However, such circumstances in life make one gain the courage to ask for assistance. It is touching to see that people like Mufti Abdul Wahab and people who donate to Al-Wahab Foundation care about people like me. They have not only supported us for the medication of my son but also provided me with this sewing machine that will help me earn for my family and make life a little easier for us.”",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/09/IMG_1876-1024x683.jpg",
        buttonTitle: "Give your Sadqah",
    },
];

const BannerDatas = [
    {
        src: "/assets/images/website-banner-UK-winter-1.jpg",
        title: " Rohingya Appeal in Action",
    },
];

const SupportBannerDetails = [
    {
        leftDescription: "Your sadaqah can ease their hardship",
        rightDescription:
            "Al-Wahab Foundation provides vital help to struggling families through urgent Sadaqah funds. When disasters occur, people often need immediate relief.Your donation can contribute to cash grants, medical aid, food packs, clean water, school fees, livelihood support, restoration of damaged masjids (mosques), supporting a maktab, and life-changing eye camps & surgeries. Donate sadaqah online now to make a significant difference for those in desperate conditions. Your support matters!",
        src: "/assets/images/Help-The-Homeless-in-UK.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/07/DSC05023a.jpg",
        title: "SADAQAH DONATION",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon text-2xl md:text-3xl font-bold text-center ">
            Donate Sadaqah Online and Earn A Priceless Reward
        </p>
        <p class="text-grey text-lg font-medium md:text-xl text-center mt-5">
            Your <strong>Sadaqah donation</strong> keeps hopes alive for those in need. Your act of charity can <br>ease the suffering of people facing poverty, conflict, or natural disasters. By being<br> generous, you can transform lives and earn blessings from Allah. Join us in our <br>mission to change the world for people in poverty. Give online today and make a<br> difference.
        </p>
       
    </div>

    <!--card -->

    <Singleregular SingleRegulars={single}/>


    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    

    <!--section 2 -->

    <!--section video -->
    <div class="container mx-auto px-4 mt-16">
        <div class="relative overflow-hidden pb-[40%]">
            <iframe
                class="absolute top-0 left-0 w-full h-full"
                src="https://www.youtube.com/embed/rKE-aUoKWhE?si=Hix0Wt-am77ezPpB"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
            >
            </iframe>
        </div>
    </div>

    <!-- -->
    <div class="container mx-auto p-6">
        <!-- Main Container -->
        <div class="flex flex-col md:flex-row">
            <!-- Text Section -->
            <div class="p-6 md:w-2/3">
                <h2 class="text-2xl sm:text-3xl text-maroon font-bold">
                    Who Can Give Sadaqah?
                </h2>
                <p
                    class="mt-2 text-grey text-base sm:text-lg font-medium text-justify"
                >
                <strong>Sadaqah</strong> is a form of voluntary charity that a Muslim can give to those who need support and for the betterment of society. Unlike <a href="#" class="text-maroon font-bold hover:bg-customBeige">Zakat</a>, giving Sadaqah jariyah is not a religious obligation under Islam. It is, however, highly recommended and one of the most encouraged acts as mentioned in the Qur’an and Sunnah.
                </p>
                <p
                    class="mt-2 text-grey text-base sm:text-lg font-medium text-justify"
                >
                In Islam, there is no wealth threshold in Islam: anyone who wishes to <strong>pay Sadaqah </strong>can do as little or as much as possible. There is no upper or lower limit or fixed categories of people or causes. Islam has created this flexible form of charity to encourage Muslims to help people in need as much as possible.
                </p>
            </div>

            <!-- Image Section -->
            <div class="md:w-1/3 flex-shrink-0">
                <img
                    src="https://alwahabfoundation.org/wp-content/uploads/2022/07/IMG_7893-1-e1670246329514.jpg"
                    alt="Water Crisis Image"
                    class="w-96 h-96 object-cover"
                />
            </div>
        </div>
    </div>
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
          
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-medium text-justify"
            >
            <span class="font-bold text-grey">And spend [in the way of Allah] from what We have provided you before death approaches one of you and he says, “My Lord, if only You would delay me for a brief term so I would give charity and be among the righteous.”</span> (Holy Qur’an 63:10)<br><br>There are many <span class="text-grey font-bold">benefits of giving Sadaqah </span>to the believer including protection from calamity and repentance for sins. In addition, Sadaqah Jariyah is a specific type of charity where the <span class="font-bold text-grey">benefits of Sadaqah</span> and the charitable donation are long-term and from which the donor can earn endless reward.<br><br><span class="font-bold text-grey">‘When a person dies, his deeds come to an end except for three: Sadaqah Jariyah (a continuous charity), or knowledge from which benefit is gained, or a righteous child who prays for him.’ </span>(Muslim)<br><br>As the Prophet Muhammad (PBUH) said: <span class="font-bold text-grey">“Protect yourself from</span> <a href="#" class="font-bold text-maroon hover:text-customBeige">hellfire</a> <span class="text-grey font-bold">even by giving a piece of date as charity.</span>”(Al-Bukhari and Muslim)<br><br>Moreover, there is a type of Islamic donation known as Sadaqah Jariyah, which offers ongoing rewards as long as people benefit from its outcomes. This charitable act continues to benefit you in the life hereafter, making it a source of perpetual reward.<br><br><span class="font-bold text-grey">Sadaqah Jariyah</span> also transcends generations in a way that your descendants will reap the bounties from this good deed of yours. <span class="text-grey font-bold">“Sadaqah wipes out sins like water extinguishes fire.”</span> (Tirmidhi)
            </p>
            
        </div>
    </div>

   
    <!--section 3 -->

    <RestoringLives ReStroingLives={Restoring} />
    <!--section 5  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl sm:text-3xl text-maroon font-bold mt-10 sm:mt-20"
            >
            Sadaqah Aid
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-medium text-justify"
            >
            Al-Wahab Foundation is committed to assisting the deprived and vulnerable through the power of <strong>Sadaqah aid</strong>This compassionate initiative provides crucial monetary assistance to support people in various aspects of life, such as education, health care, marriages, access to food, clean water, livelihood, and more. <br><br>With generous contributions from supporters like you, we extend a helping hand to those in need, offering hope and relief in times of difficulty. Through our <strong>Sadaqah aid</strong>, we strive to uplift lives, empower individuals, and make a positive impact on the communities we serve.
            </p>                      
        </div>
    </div>

    <!--section 4 -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p class="text-2xl sm:text-3xl text-maroon font-bold mt-6">
                Sadaqah Donation & Aqeeqah Sacrifice
            </p>
            <p
                class="mt-2 text-grey text-base sm:text-lg font-medium text-justify"
            >
            Al-Wahab Foundation extends its caring arms to those facing hunger through Sadaqah donation and Aqeeqah Sacrifice. Through your <strong>Sadaqah donation for sacrifice and Aqeeqah</strong>, we provide vital support to alleviate hunger and nourish those in need. With the dedication of our team and the support of compassionate donors, we strive to combat hunger, bringing hope and sustenance to vulnerable communities.
            </p>
            <p class="text-2xl sm:text-3xl text-maroon font-bold mt-6">
                How Does Al-Wahab Foundation Use My Sadaqah?            </p>
            <p
                class="mt-2 text-grey text-base sm:text-lg font-medium text-justify"
            >
            Your generosity can change someone’s life. Al-Wahab Foundation strives to transform the lives of people living in deprived conditions, using your donations to deliver impactful support. Together, we have helped thousands of people living in poverty by distributing <strong>Sadaqah donation </strong>as food, clean water, medical aid and more.<br><br>When you <a href="#" class="font-bold text-maroon hover:text-customBeige">donate to charity online </a> to charity online, our team ensures that is used appropriately by identifying the most vulnerable and developing support programs to break the cycle of poverty. Our years of experience and local knowledge ensure that your donation is handled carefully and used to its maximum potential. <br><br>When you give, it can go towards emergency response such as food and healthcare or towards helping people to gain independence by supporting their education or livelihood. Every <strong>sadaqah Jariyah</strong> is carefully considered against the most pressing needs of our programs. With your continued support, we can work together to keep hopes alive.
            </p>
            <p class="text-2xl sm:text-3xl text-maroon font-bold mt-6">
                AWF’s Achievement So Far Through Sadaqah Project </p>
            <p
                class="mt-2 text-grey text-base sm:text-lg font-medium text-justify"
            >
            Through the Sadaqah Donation Project, Al-Wahab Foundation has achieved significant milestones in transforming lives and bringing hope to those in need. We have been able to provide essential assistance to vulnerable communities, including  <a href="#" class="font-bold text-maroon hover:text-customBeige">food packs donation, water pump charity</a>, healthcare, education, and <a href="" class="font-bold text-maroon hover:text-customBeige">Livelihood support</a>.<br><br>Our <span class="font-bold text-grey">Sadaqah Donation Project</span> has empowered individuals and families to break free from the shackles of poverty, enabling them to build a brighter future for themselves and their communities. With each contribution, we could facilitate 21,250 beneficiaries through Sadaqah Jariyah and sacrificed 107 goats under Sadaqah and Aqeeqah sacrifice <strong>benefiting 5,136 individuals</strong> to date.  <br><br>As we move forward, we are committed to helping as many people as possible in bringing real transformation in their lives leading to brighter futures with your continued support.
            </p>
        </div>
        <div class="flex justify-center mt-10 sm:mt-12">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                DONATE YOUR SADAQAH NOW
            </a>
        </div>
    </div>
    <!--section step -->
   
    <!--section 6-->
    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <Otherproject SeeOtherProjects={otherproject} />
</Layout>
