---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Singleregular from "../../components/singel-regular.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
const single = [
  {
    name: "PAKISTAN",
    title: "Water Hand Pump",
    amount: "150.00",
    single: "SINGLE",
    regular: "REGULAR",
    src: "/assets/images/appeals/water/WaterCardImage1.jpg",
  },
  {
    name: "UGANDA",
    title: "Water Well",
    amount: "2000.00 ",
    single: "SINGLE",
    regular: "REGULAR",
    src: "/assets/images/appeals/water/WaterCardImage2.jpg",
  },
  {
    name: "PAKISTAN",
    title: "Water Well",
    amount: "700.00 ",
    single: "SINGLE",
    regular: "REGULAR",
    src: "/assets/images/appeals/water/WaterCardImage3.jpg",
  },
  {
    name: "PAKISTAN",
    title: "Clean Drinking Water",
    amount: "50.00 ",
    single: "SINGLE",
    regular: "REGULAR",
    src: "/assets/images/appeals/water/WaterCardImage4.jpg",
  },
];
const otherproject = [
  {
    title: "Build a Masjid",
    description:
      "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
    src: "/assets/images/appeals/water/Water5.jpg",
  },
  {
    title: "Pay Zakat Online",
    description:
      "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
    src: "/assets/images/appeals/water/Water6.jpg",
  },
  {
    title: "Women Empowerment",
    description:
      "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
    src: "/assets/images/appeals/water/Water7.jpg",
  },
  {
    title: "Give your Sadaqah",
    description:
      "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
    src: "/assets/images/appeals/water/Water8.jpg",
  },
  {
    title: "Support a Maktab",
    description:
      "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
    src: "/assets/images/appeals/water/Water9.jpg",
  },
  {
    title: "Water for Life",
    description:
      "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
    src: "/assets/images/appeals/water/Water10.jpg",
  },
  {
    title: "Where Most Needed",
    description:
      "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
    src: "/assets/images/appeals/water/Water1.jpg",
  },
  {
    title: "Hope For Uganda",
    description:
      "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
    src: "/assets/images/appeals/water/Water2.jpg",
  },
  {
    title: "Serving Humanity in the UK",
    description:
      "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
    src: "/assets/images/appeals/water/Water1.jpg",
  },
  {
    title: "Winter Survival Kit",
    description:
      "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
    src: "/assets/images/appeals/water/Water1.jpg",
  },
];
const Restoring = [
  {
    title:
      "Al-Wahab Foundation's Gift of Clean Drinking Water to Akbar's Village ",
    description:
      "  '' My name is Akbar, and I reside in Mithi with my family. Our village has been facing numerous issues, but the most persistent one was the lack of access to clean drinking water. We used to walk long distances to fetch water from a dirty pond, which took up a significant portion of our time and energy. Moreover, the water we collected wasn't safe for consumption, and we often fell sick. This situation made it even more challenging for us to make ends meet, and the health of our family members was always at risk. We are immensely grateful to Al-Wahab Foundation and Mufti Abdul Wahab for understanding our struggles and installing this water hand pump. It has been a tremendous help, providing us with safe and clean drinking water right at our doorstep. May Allah reward them for this generosity.'' ",
    src: "/assets/images/appeals/water/image3.jpg",
    buttonTitle: "Read More",
  },
];

// const BannerDatas = [
//     {
//         src: "/assets/images/website-banner-UK-winter-1.jpg",
//         title: " Rohingya Appeal in Action",
//     },
// ];

const SupportBannerDetails = [
  {
    leftDescription: "WHEN YOU GIVE WATER, YOU GIVE LIFE",
    rightDescription:
      "The best charity is giving water to drink(Ahmad)By contributing to providing water, your donation becomes a blessed act known as Sadaqah Jariyah, bringing you countless blessings as your gift continues to bring relief. With your water pump donation, a single Hand Pump can offer easy water access to multiple families, while our Water Wells can supply clean water to entire communities. Join our Water Appeal and make a donation for water well or water pump now to help people gain access to clean water, ultimately saving lives in the process.",
    src: "/assets/images/appeals/water/WaterBGIMage.jpg",
  },
];
const HeaderBannerData = [
  {
    src: "/assets/images/appeals/water/HeaderBanner.jpg",
    title: "WATER FOR LIFE",
  },
];
---

<Layout>
  <HeadersBanner HeadersBanners={HeaderBannerData} />
  <UmmahCharity />
  <div class="mt-12">
    <p class="text-maroon md:text-4xl font-bold text-center text-xl">
      Clean Water Saves Lives
    </p>
    <p
      class="text-grey text-base font-semibold md:text-lg text-center mt-5 px-10 md:px-56"
    >
      Water is necessity in life. More than 1.1 billion people worldwide
      continue to face the challenge of lacking regular <a
        href="#"
        class="text-maroon hover:text-customBeige font-bold"
        >access to clean water</a
      >
      . This dire situation forces them to consume unsafe water and live without
      basic sanitation, resulting in a devastating toll of over 2000 children losing
      their lives each day due to contaminated water.
    </p>
    <p
      class="text-grey text-base font-semibold md:text-lg text-center mt-5 px-10 md:px-56"
    >
      You can make a difference – donate water well or water pump today to
      support our efforts in providing clean water sources to vulnerable
      families and protecting them from deadly diseases.
    </p>
  </div>

  <!--card -->

  <Singleregular SingleRegulars={single} />

  <!--support banner -->
  <SupportBanner BannerDetails={SupportBannerDetails} />
  <!--section n -->
  <div class="counter grid grid-cols-2 md:grid-cols-7 px-4 md:px-7 gap-6 pt-20">
    <!-- Item 1 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="238,950">238,950</span><span>+</span>
        </p>
        <p
          class="uppercase text-blackColor md:text-lg text-base font-semibold dark:text-blackColor-dark"
        >
          Beneficiaries of <br /> clean drinking water
        </p>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="433">433</span><span>+</span>
        </p>
        <p
          class="uppercase md:text-lg text-base text-blackColor font-semibold dark:text-blackColor-dark"
        >
          Water <br />
          Well
        </p>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="110,750 ">110,750 </span><span>+</span>
        </p>
        <p
          class="uppercase md:text-lg text-base text-blackColor font-semibold dark:text-blackColor-dark"
        >
          Beneficiaries <br />of Water Well
        </p>
      </div>
    </div>
    <!-- Item 4 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="4,872 ">4,872 </span><span>+</span>
        </p>
        <p
          class="uppercase text-blackColor md:text-lg text-base font-semibold dark:text-blackColor-dark"
        >
          Water <br />Hand-Pumps
        </p>
      </div>
    </div>
    <!-- Item 5 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="121,800">121,800</span><span>+</span>
        </p>
        <p
          class="uppercase md:text-lg text-base text-blackColor font-semibold dark:text-blackColor-dark"
        >
          Beneficiaries of <br />
          Water hand-pumps
        </p>
      </div>
    </div>
    <!-- Item 6 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="1">1</span><span>+</span>
        </p>
        <p
          class="uppercase md:text-lg text-base text-blackColor font-semibold dark:text-blackColor-dark"
        >
          Water Tanker<br /> in Uganda
        </p>
      </div>
    </div>
    <!-- Item 7 -->
    <div class="flex flex-col items-center text-center" data-aos="fade-up">
      <div>
        <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
      </div>
      <div>
        <p
          class="md:text-lg text-base font-bold font-hind text-blackColor dark:text-blackColor-dark"
        >
          <span data-countup-number="6400">6400</span><span>+</span>
        </p>
        <p
          class="uppercase md:text-lg text-base text-blackColor font-semibold dark:text-blackColor-dark"
        >
          Beneficiaries
        </p>
      </div>
    </div>

    <!-- Repeat similar structure for Items 3 to 7 -->
  </div>

  <!--section 2 -->

  <!--section video -->
  <div class="container mx-auto px-20 mt-16">
    <div
      class="relative overflow-hidden"
      style="padding-top: 56.25%; /* Aspect ratio 16:9 */"
    >
      <iframe
        class="absolute top-0 left-0 w-full h-full"
        src="https://www.youtube.com/embed/SXTjcbDTL5w?si=m5KIl8XbzGIR3MZD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
    </div>
  </div>

  <!-- -->
  <div class="container mx-auto px-20 py-12">
    <!-- Main Container -->
    <div class="flex flex-col md:flex-row">
      <!-- Text Section -->
      <div class="md:w-2/3">
        <h2 class="md:text-2xl text-lg text-maroon font-bold">
          Pakistan’s Water Crisis
        </h2>
        <p
          class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
        >
          Despite <a
            href="#"
            class="font-bold text-maroon hover:text-customBeige"
            >recent floods</a
          >, water is still scarce in parts of Pakistan. Only 40% of Pakistani
          people have reliable access to safe drinking water. With a growing
          population, high levels of poverty, and plagued by natural disasters,
          Pakistan is facing a water crisis.
        </p>
        <p
          class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
        >
          Children and the elderly are the most at risk from water-borne illness
          and poor sanitation. Almost half of deaths in the country are related
          to the contaminated water supply. At Al-Wahab Foundation, our priority
          is to ensure that underprivileged communities have access to clean
          drinking water to protect and save their lives. From sustainable and <span
            class="font-bold">well-maintained water pumps to water wells</span
          >, your donation can help us achieve our goal. Donate water pump in
          Pakistan and help those in need.
        </p>
      </div>

      <!-- Image Section -->
      <div class="md:w-1/3 mx-8 flex-shrink-0 justify-center items-center">
        <img
          src="/assets/images/appeals/water/image1.jpg"
          alt="Water Crisis Image"
          class="w-96 h-96 object-cover"
        />
      </div>
    </div>
  </div>

  <div class="container px-20 mx-auto">
    <!-- Main Container -->
    <div class="flex flex-col md:flex-row">
      <!-- Image Section -->
      <div class="md:w-1/3 my-auto mx-8 flex-shrink-0">
        <img
          src="/assets/images/appeals/water/image2.jpg"
          alt="Water Crisis Image"
          class="w-96 h-96 object-cover"
        />
      </div>
      <!-- Text Section -->
      <div class="p-6 md:w-2/3">
        <h2 class="text-lg md:text-2xl text-maroon font-bold">
          Water Crisis in Uganda
        </h2>
        <p
          class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
        >
          Africa faces a severe water crisis, with a significant portion of its
          population lacking access to clean and safe water sources. The
          scarcity of clean water poses a significant threat to public health
          and exacerbates the vulnerability of communities, particularly women
          and children, to waterborne diseases. In response to this situation
          specifically <a
            href="#"
            class="font-bold text-maroon hover:text-customBeige"
            >poverty in Uganda,</a
          >, Al-Wahab Foundation’s water project aims at providing sustainable
          water solutions to those in need.
        </p>
        <p
          class="mt-2 text-grey text-base md:text-lg font-semibold text-justify"
        >
          By donating to <span class="font-bold">
            Al-Wahab Foundation’s water project
          </span>for Uganda, you can directly contribute to alleviating the
          water crisis and improving the lives of countless individuals. Your
          support will enable the implementation of installing water wells and
          pumps. Donate water well or hand pump today and be a part of this
          life-changing initiative.
        </p>
      </div>
    </div>
  </div>
  <!--section 3 -->

  <RestoringLives ReStroingLives={Restoring} />
  <!--section 5  -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-24">
      <p class="text-lg md:text-2xl text-maroon font-bold mt-10 sm:mt-20">
        What is Al-Wahab Foundation has achieved so far?
      </p>
      <p
        class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-semibold text-justify"
      >
        At Al-Wahab Foundation we believe in <a
          href="#"
          class="text-maroon font-bold hover:text-customBeige"
          >serving humanity</a
        > with compassion and generosity, to relieve the hardships of those who are
        disadvantaged or suffering. Our mission is to expand our network to serve
        more people, especially in the vulnerable areas of Pakistan where water remains
        unsafe or unavailable due to lack of infrastructure. With your help, we can
        reach communities in remote areas and ensure that your donations support
        those in the greatest need. <span class="font-bold"
          >Donate water well</span
        > or <span class="font-bold">water pump</span> now to help people access
        water that is clean and safe.
      </p>
      <p
        class="mt-5 sm:mt-7 text-grey text-base sm:text-lg font-bold text-justify"
      >
        <i> Here is an overview of what we have achieved so far:</i>
      </p>
      <p class="mt-2 text-maroon  font-bold text-base md:text-xl text-justify">
        Water Pump Charity & Installation
      </p>
      <p class="mt-2 text-grey  text-base md:text-lg font-semibold text-justify">
        With your <a
          href="#"
          class="text-maroon hover:text-customBeige font-bold">Sadaqah</a
        > and <a href="#" class="text-maroon hover:text-customBeige font-bold"
          >Zakat donation</a
        >, we are on the ground working to transform lives for those who need it
        the most. For more than 10 years, <span class="font-bold"
          >Al-Wahab Foundation</span
        > has been working in rural areas across Pakistan, installing freshwater
        sources to provide clean water. To date, we have installed 4,772 hand pumps
        facilitating 121,800 beneficiaries and we aim to expand it for a better reach
        out with your continued support to water pump project.
      </p>
      <p class="mt-5 text-maroon sm:text-lg font-bold text-2xl text-justify">
        Water Well Donation & Installationn
      </p>
      <p class="mt-2 text-grey text-base sm:text-lg font-semibold text-justify">
        Your contribution towards our <span class="font-bold"
          >Water for Life project</span
        > is the driving force behind our transformative work, reaching those who
        need it most. Al-Wahab Foundation has been actively operating in rural areas
        across Pakistan, ensuring access to clean water by supporting water well
        project. We have accomplished installing 443 water wells providing fresh
        water sources to 110,750 beneficiaries.
      </p>
    </div>
  </div>

  <!--section 4 -->
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <div class="row px-24 py-5">
      <p class="text-lg md:text-2xl text-maroon font-bold mt-6">
        Donate Water Well, Water Pump, and Change Lives for Good
      </p>
      <p class="mt-2 text-grey text-base md:text-lg font-semibold text-justify">
        Your support can turn the tide for countless communities struggling
        without clean water. Give the gift of life, hope, and transformation by
        generously <span class="font-bold">donating a water well</span> or water
        pump charity to <span class="font-bold"
          >Al-Wahab Foundation’s Water for Life Project.</span
        > Together, we can create a lasting and profound change, providing a brighter,
        healthier future for the most vulnerable communities.
      </p>
      <p class="text-lg md:text-2xl text-maroon font-bold mt-6">
        Be The Change
      </p>
      <p class="mt-2 text-grey text-base md:text-lg font-semibold text-justify">
        The change begins with you, and your decision to donate a water well or
        water pump can be a catalyst for change that resonates across
        generations. Embrace the opportunity to be the change-maker in the lives
        of those who are yearning for the gift of clean water with <a
          href="#"
          class="text-maroon hover:text-customBeige font-bold"
          >Al-Wahab Foundation.</a
        >
      </p>
    </div>
    <div class="flex justify-center mt-10 sm:mt-12">
      <a
        href="#"
        class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
      >
        SUPPORT NOW
      </a>
    </div>
  </div>
  <!--section step -->
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
      <!-- Step 1 -->
      <div
        class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
      >
        <svg
          class="-mt-4"
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-pound-sterling mb-4"
        >
          <path d="M18 7c0-5.333-8-5.333-8 0"></path>
          <path d="M10 7v14"></path>
          <path d="M6 21h12"></path>
          <path d="M6 13h10"></path>
        </svg>
        <p class="text-lg font-semibold py-2 mt-3">Step 1</p>
        <p class="text-center font-semibold text-base">
          We receive your donation of a water pump charity or water well.
        </p>
      </div>

      <!-- Step 2 -->
      <div
        class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-right-left mb-4"
        >
          <path d="m16 3 4 4-4 4"></path>
          <path d="M20 7H4"></path>
          <path d="m8 21-4-4 4-4"></path>
          <path d="M4 17h16"></path>
        </svg>
        <p class="text-lg font-semibold mb-2">Step 2</p>
        <p class="text-center font-semibold text-base">
          We send it to your chosen country.
        </p>
      </div>

      <!-- Step 3 -->
      <div
        class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-wrench mb-4"
        >
          <path
            d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
          ></path>
        </svg>
        <p class="text-lg font-semibold mb-2">Step 3</p>
        <p class="text-center font-semibold text-base">
          It normally takes minimum 9 to 10 months to complete a Water Hand Pump
          or Water Well.
        </p>
      </div>

      <!-- Step 4 -->
      <div
        class="bg-customBeige flex flex-col items-center justify-center px-6 py-2 pb-6 text-dark rounded-lg shadow-lg"
      >
        <svg
          class="duration-300 hover:stroke-maroon mt-3"
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-notepad-text mb-4"
        >
          <path d="M8 2v4"></path>
          <path d="M12 2v4"></path>
          <path d="M16 2v4"></path>
          <rect width="16" height="18" x="4" y="4" rx="2"></rect>
          <path d="M8 10h6"></path>
          <path d="M8 14h8"></path>
          <path d="M8 18h5"></path>
        </svg>
        <p class="text-lg font-semibold mb-2 mt-4 py-2">Step 4</p>
        <p class="text-center font-semibold text-base py-2">
          After the completion, you will receive a detailed report with
          pictures, location & number of beneficiaries.
        </p>
      </div>
    </div>
  </div>

  <!--section 6-->
  <div class="container">
    <div class="row">
      <p class="text-grey font-bold text-3xl text-center py-4">
        See other Project
      </p>
    </div>
  </div>
  <Otherproject SeeOtherProjects={otherproject} />
</Layout>
