---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import RestoringLives from "../../components/RestoringLives.astro";
import Otherproject from "../../components/SeeOtherProjectCard.astro";
import SupportBanner from "../../components/SupportBanner.astro";
const otherproject = [
    {
        title: "Build a Masjid",
        description:
            "A mosque is the heart of the community, a place full of peace that brings the community together. In rural",
        src: "https://picsum.photos/200",
    },
    {
        title: "Pay Zakat Online",
        description:
            "The economic situation in Pakistan has caused devastation, leaving many people in desperation. Approximately 36% of the population now lives",
        src: "https://picsum.photos/200",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "https://picsum.photos/200",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "https://picsum.photos/200",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "https://picsum.photos/200",
    },
    {
        title: "Water for Life",
        description:
            "Water is necessity in life. More than 1.1 billion people worldwide continue to face the challenge of lacking regular access",
        src: "https://picsum.photos/200",
    },
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "https://picsum.photos/200",
    },
    {
        title: "Hope For Uganda",
        description:
            "Poverty in Africa has been a longstanding challenge, casting a shadow over the aspirations and dreams of millions. Within this",
        src: "https://picsum.photos/200",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "In the UK, many people face daily challenges due to rising costs and unemployment. This includes those living below the",
        src: "https://picsum.photos/200",
    },
    {
        title: "Winter Survival Kit",
        description:
            "As climate change intensifies worldwide, a relentless sequence of natural disasters in various countries has aggravated the difficulties faced by",
        src: "https://picsum.photos/200",
    },
];
const Restoring = [
    {
        title: "This is How Your Donations Saved Hamza from a Severe Winter.",
        description:
            "My name is Hamza Ahmed. I am the eldest of five siblings. We live in a small one-bedroom house and with the changing weather conditions, we face different sorts of challenges in survival. In winter, life is generally not easy here and for us, it gets even more difficult as we cannot afford proper blankets, warm clothes and other necessities. I want to thank Al-Wahab Foundation with all my heart for helping us to live through the harsh months of winter. They provided us with a winter kit including everything we need. Thanks to Mufti Abdul Wahab and thanks to everyone who contributed to this cause.",
        src: "https://alwahabfoundation.org/wp-content/uploads/2022/09/87a3d0c13ff6307c6d26df055dcc2866-1024x682.jpg",
        buttonTitle: "Provide Winter Kit",
    },
];
const card = [
    {
        name: "PAKISTAN",
        title: "Winter Survival Kit",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard1.png",
    },
    {
        name: "AFGHANISTAN",
        title: "Winter Survival Kit",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard2.png",
    },
    {
        name: "UNITED KINGDOM",
        title: "Winter Survival Kit",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard3.png",
    },
    {
        name: "PAKISTAN",
        title: "Food Pack",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard4.jpg",
    },
    {
        name: "UNITED KINGDOM",
        title: "Food Pack",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard5.jpg",
    },
    {
        name: "AFGHANISTAN",
        title: "Food Pack",
        amount: "50.00",
        src: "/assets/images/appeals/winter-survival-kit/WinterCard6.jpg",
    },
];

const SupportBannerDetails = [
    {
        leftDescription:
            "WINTER APPEAL: HELP PROTECT THEM FROM THE HARSH WINTER ",
        rightDescription:
            "Imagine yourself in place of those deprived people who are compelled to live without adequate arrangements for winter including the homeless, who are compelled to live under open skies. As the temperature drops, many are left with nothing but shattered dreams and cold, empty nights. Your support to the Winter Appeal can prevent suffering for many through winter survival kit donation. As these countries struggle with increasing energy costs and inflation, together we can help them by providing winter aid. Donate to save as many lives this year as possible with Al-Wahab Foundation.",
        src: "/assets/images/appeals/winter-survival-kit/IMages1.jpg",
    },
];
const HeaderBannerData = [
    {
        src: "/assets/images/appeals/winter-survival-kit/website-banner-UK-winter.jpg",
        title: "Winter Appeal 2024",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBannerData} />
    <UmmahCharity />
    <div class="mt-12">
        <p class="text-maroon md:text-3xl font-bold text-center text-4xl font-sans-serif">
            Bringing Comfort and Hope to the Most Vulnerable <br />Through
            Winter Appeal
        </p>
        <p class="text-grey text-lg font-medium md:text-xl text-center mt-5 px-4 md:px-20 lg:px-72">
            Climate changes aren’t always pleasant for everyone. Specifically,
            when it comes to winter season setting in, there are many vulnerable
            people who struggle to survive through this period following various
            challenges. Regrettably, numerous communities have been dealing
            with the downfall in terms of global social and economic state.
        </p>
        <p class="text-grey text-lg font-medium md:text-xl text-center mt-5 px-4 md:px-20 lg:px-72">
            Like every year, Al-Wahab Foundation has stepped forward to support
            underprivileged individuals and families in Pakistan,
            Afghanistan, and in the UK. Join us in our 
            <strong>Winter Appeal</strong>
            and make a difference in the lives of those in need.
          </p>
          
    </div>

    <!--card -->
    <CardforCountry CountryCardDetails={card} />

    <!--support banner -->
    <SupportBanner BannerDetails={SupportBannerDetails} />
    <!--section n -->
    <div class="counter grid grid-cols-2 md:grid-cols-6 gap-2 px-4 py-[70px] lg:py-10">
        <!-- Item 1 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="740">740</span><span>+</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Total Achievement
            </p>
          </div>
        </div>
      
        <!-- Item 2 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="790">790</span><span>+</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Total Students
            </p>
          </div>
        </div>
      
        <!-- Item 3 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="490">490</span><span>k</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Total Instructors
            </p>
          </div>
        </div>
      
        <!-- Item 4 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="470">470</span><span>+</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Over the World
            </p>
          </div>
        </div>
      
        <!-- Item 5 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="440">440</span><span>+</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Over the World
            </p>
          </div>
        </div>
      
        <!-- Item 6 -->
        <div class="flex flex-col items-center text-center" data-aos="fade-up">
          <div>
            <img src="https://via.placeholder.com/50" alt="icon" class="mx-auto" />
          </div>
          <div>
            <p class="text-size-34 leading-[1.1] text-blackColor font-bold font-hind dark:text-blackColor-dark">
              <span data-countup-number="1780">1780</span><span>+</span>
            </p>
            <p class="uppercase text-blackColor font-medium leading-[18px] whitespace-nowrap sm:whitespace-normal dark:text-blackColor-dark">
              Over the World
            </p>
          </div>
        </div>
      </div>
      
    

<!-- Section -->
<div
    class="relative w-full h-auto bg-cover bg-center bg-no-repeat mt-20"
    style="background-image: url('/assets/images/appeals/winter-survival-kit/Image2.jpg');"
>
    <!-- Semi-transparent overlay -->
    <div class="absolute inset-0 bg-maroon bg-opacity-75 z-10"></div>

    <!-- Text content -->
    <div class="relative z-20 text-white">
        <div class="text-center text-xl md:text-5xl font-bold pt-20">
            <p>Winter Aid: Countries Seeking Help This Year</p>
        </div>

        <!-- Pakistan Section -->
        <div class="flex py-6">
            <div class="w-1/4 flex justify-center">
                <div class="bg-customBeige flex items-center justify-center w-16 h-16 rounded">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-star"
                    >
                        <path
                            d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div class="w-3/4 flex ">
                <p class="md:text-xl text-base px-4 md:pr-28 font-medium ">
                    <span class="text-customBeige text-xl font-semibold md:text-5xl">Pakistan</span> <br/>
                    In Pakistan, every single day is a new challenge for people living below 
                    the poverty line due to inflation and unemployment. They are struggling to get back 
                    to a balanced life as they face adversities following rising costs of living. Your 
                    support in providing winter survival kits can give them hope for a better future.
                </p>
            </div>
        </div>
        <p class="flex justify-center py-4 mb-8">
            <a class="py-2 px-4 mb-7 font-bold text-base md:text-xl bg-customBeige hover:bg-white text-white hover:text-maroon rounded-full" href="">
                Donate Pakistan Winter Kit £ 50
            </a>
        </p>

        <div class="flex py-6">
            <div class="w-1/4 flex justify-center">
                <div class="bg-customBeige flex items-center justify-center w-16 h-16 rounded">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-star"
                    >
                        <path
                            d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                        ></path>
                    </svg>
                </div>
            </div>
            <div class="w-3/4 flex">
                <p class="md:text-xl text-base px-4 md:pr-28 font-medium">
                    <span class="text-customBeige font-semibold text-xl md:text-5xl">UNITED KINGDOM</span> <br />
                    Even in developed nations like the United Kingdom, many people are battling 
                     with rising cost of living and unemployment. The winter season highlights their 
                      struggle, and your generosity can provide a vital support, ensuring they have 
                       access to essentials, a warm meal, and everything that can give them comfort to 
                        live through this phase. To help them survive, join AWF’s Winter Appeal and 
                         make a lasting impact.
                </p>
            </div>
        </div>
        <p class="flex justify-center mb-8">
            <a class="py-2 px-4 mb-7 font-bold text-base md:text-xl bg-customBeige hover:bg-white text-white hover:text-maroon rounded-full" href="">
                Donate Pakistan Winter Kit £ 50
            </a>
        </p>

        <div class="flex py-6">
            <div class="w-1/4 flex justify-center">
                <div class="bg-customBeige flex items-center justify-center w-16 h-16 rounded">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-star"
                >
                    <path
                        d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                    ></path>
                </svg>
                </div>
            </div>
            <div class="w-3/4 flex">
                <p class="md:text-xl text-base px-4 md:pr-28  font-medium ">
                    <span class="text-customBeige font-semibold text-xl md:text-5xl">AFGHANISTAN </span> <br />
                    Afghanistan has been struggling for a long time under dire situations due to 
                    various circumstances, making it difficult for them to survive. There are many 
                    who are compelled to live life of homelessness while others struggle to meet 
                    their everyday needs. Last year, Afghanistan faced the aftermath of earthquake
                    that exacerbated their struggles. As winter approaches, your winter donation for 
                    Afghanistan can provide essential winter survival kits, offering relief to those 
                    grappling with numerous challenges. 
                </p>
            </div>
        </div>
        <p class="flex justify-center ">
            <a class="py-2 px-4 mb-10 font-bold text-base md:text-xl bg-customBeige hover:bg-white text-white hover:text-maroon rounded-full" href="">
                Donate Pakistan Winter Kit £ 50
            </a>
        </p>
    </div>
</div>

    <!--section 2 -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-lg md:text-2xl md:px-20 text-maroon font-bold mt-10 sm:mt-20 "
            >
                We are Right Here, Right Now for Those in Need!
            </p>
            <p
                class="mt-5 sm:mt-7 text-base text-grey md:px-20  md:text-lg font-medium text-justify"
            >
                At Al-Wahab Foundation, we deliver your <strong> survival kit
                donations</strong>  to those living in deprived, remote areas, targeted
                most under the intensive weather conditions. Our <strong>Winter Survival
                Kits</strong> provide essential items to protect against the cold and wet
                weather. We understand that people have the best chance of
                survival when they are given all-round care.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:px-20 md:text-lg font-medium text-justify"
            >
                Al-Wahab Foundation also provides warm cooked food under <strong> winter
                donation, </strong> where needed the most, to sustain families living in
                the most difficult circumstances. Contribute to our winter
                appeal and help us keep people warm and healthy.
            </p>
        </div>
    </div>

    <!--section video -->
    <div class="container mx-auto px-4 md:px-9 md:py-16 mt-16">
        <div class="relative overflow-hidden" style="padding-top: 56.25%; position: relative;">
            <iframe 
                class="absolute inset-0 w-full h-full"
                src="https://www.youtube.com/embed/uxyG1nHAEoM?si=uUVG-ut7kQsQBZNm" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
    
    <!--section 3 -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-xl sm:text-3xl md:px-20 text-maroon font-bold mt-10 sm:mt-20 "
            >
            What We Can Provide Through Winter Appeal?
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey md:px-20 text-base md:text-lg font-medium text-justify"
            >
            Through our Winter Appeal, we can provide the following to support those in dire need in Afghanistan, Pakistan, and in the UK:<br><br><strong>Winter Kits –</strong> Our winter kits include everything that would be helpful in providing warmth and comfort to those in need. The main items include Gloves and Socks, Shawls, Warm Clothes, Sleeping Bags, etc.<br><br><strong>Blankets – </strong>We are providing blankets to help deprived people and survivors of natural disasters to cover them up for safety from winter harshness.<br><br><strong>Cooked Food – </strong>Along with our winter warmth packs, we are also providing freshly cooked hot meals to provide nourishment.<br><br>Your <strong>winter donation </strong>relieves people’s immediate needs and at the same time, we are working hard to deliver long-term solutions. Our team is developing sustainable resolution to see people live through the winter months under our Winter Appeal without any trouble. Your donation towards <strong>winter survival kits</strong> can become a source of Sadaqah Jariyah, protecting individuals from extreme weather conditions while blessing you with endless rewards.
            </p>
          
        </div>
    </div>

    <!--section 4 -->
    <RestoringLives ReStroingLives={Restoring} />
    <!--section 5  -->
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="row">
            <p
                class="text-2xl md:text-3xl text-maroon font-bold mt-10 sm:mt-20 "
            >
                How to Contribute?
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:text-lg font-semibold text-justify"
            >
                <span class="font-bold text-grey">Online Donation:</span> You can easily donate to Winter Appeal through
                our secure online donation portal. No matter how small, your
                contribution can always make a big difference to those in need.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:text-lg font-semibold text-justify"
            >
                <span class="font-bold text-grey">Our Donation Hotline:</span> Apart from our online portal, you can
                donate by calling us on our donation hotline at
                <a href="tel:02089038944" class="text-maroon font-bold"
                    >020 8903 8944</a
                >.
            </p>
            <p
                class="mt-5 sm:mt-7 text-grey text-base md:text-lg font-semibold text-justify"
            >
                You can make a significant impact by contributing as much as
                possible to provide winter aid through our winter appeal. Join
                hands with <span class="font-bold text-grey">Al-Wahab Foundation </span>and give them comfort to live
                through extreme cold weather.
            </p>
        </div>
        <div class="flex justify-center mt-10 sm:mt-12">
            <a
                href="#"
                class="bg-maroon hover:bg-customBeige text-white font-bold py-2 px-6 sm:px-8 rounded-full uppercase text-sm sm:text-base"
            >
                Donate UK Winter Kit £50
            </a>
        </div>
    </div>

    <!--section 6-->
    <div class="container py-6">
        <div class="row">
            <p class="text-grey font-bold md:text-3xl text-xl text-center py-4">See other Project</p>
        </div>
      </div>
      
    <Otherproject SeeOtherProjects={otherproject} />
      
</Layout>
