---
import Layout from "../../layouts/Layout.astro";
import HeadersBanner from "../../components/HeadersBanner.astro";
import UmmahCharity from "../../components/Ummah_Charity.astro";
import SupportBanners from "../../components/SupportBanner.astro";
import RestoringLive from "../../components/RestoringLives.astro";
import CardforCountry from "../../components/CardforCountry.astro";
import SeeOtherProjectCard from "../../components/SeeOtherProjectCard.astro";

const OtherProject = [
    {
        title: "Where Most Needed",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "https://alwahabfoundation.org/wp-content/uploads/2023/10/IMG_1703-1024x384.jpg",
    },
    {
        title: "Qurbani",
        description:
            "Donate Qurbani this Dhul-Hijjah with AWF. Your donation can reach those in need this Eid Al-Adha.",
        src: "https://alwahabfoundation.org/wp-content/uploads/2023/05/Camel-banner-1024x400.jpg",
    },
    {
        title: "Hope For Uganda",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "",
    },
    {
        title: "Serving Humanity in the UK",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "",
    },
    {
        title: "Winter Survival Kit",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "",
    },
    {
        title: "Build a Masjid",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "",
    },
    {
        title: "Pay Zakat Online",
        description:
            "At Al-Wahab Foundation, we believe in the power of consistent generosity. Our Where Most Needed initiative empowers you to make",
        src: "",
    },
    {
        title: "Women Empowerment",
        description:
            "Empowering women involves providing them with opportunities to acquire essential skills, boost their confidence, and cultivate independence, enabling lasting benefits",
        src: "",
    },
    {
        title: "Give your Sadaqah",
        description:
            "Your Sadaqah donation keeps hopes alive for those in need. Your act of charity can ease the suffering of people",
        src: "",
    },
    {
        title: "Support a Maktab",
        description:
            "Over 280 million children around the world are deprived of education. These children are often forced into a life of",
        src: "",
    },
];
const card = [
    {
        name: "PAKISTAN",
        title: "Sewing Machine",
        amount: "75.00",
        src: "/assets/images/appeals/WP/WP1.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Two Sewing Machine",
        amount: "150.00",
        src: "/assets/images/appeals/WP/WP2.jpg",
    },
    {
        name: "PAKISTAN",
        title: "Zakat",
        amount: "ANY AMOUNT",
        src: "/assets/images/appeals/WP/WP3.jpg",
    },
];

const RestoreData = [
    {
        title: "Shakeela Bibi Extends Warm Thanks Towards AWF for Sewing Machine",
        description:
            " “My name is Shakeela Bibi, and I reside in Mithi with my children. After the loss of my husband, life has been incredibly challenging for us. Providing for my family and ensuring their well-being has been a constant struggle. As a widow, I face societal hurdles in finding work, and we rely heavily on financial aid for our survival. I am greatly thankful to Al-Wahab Foundation and Mufti Abdul Wahab for providing assistance during this difficult time in my life. ",
            description1: " The sewing machine they provided has been a lifeline for my family as now I can stitch the clothes of the people living around and make accessories to sell in the local market that will ultimately give me a good outcome in the form of respectable income to fulfil my family’s needs. With this opportunity, I can now earn a respectable income and provide for my children. I literally have no words to express my gratitude for this kind-heartedness shown to help me by giving me this opportunity to earn for my family. Jazak Allah for this support to Mufti Abdul Wahab and Al-Wahab Foundation team.”",
        src: "/assets/images/appeals/WP/WP5.jpg",
        buttonTitle: "Read More",
    },
];

const SupportBannerData = [
    {
        leftDescription: "EMPOWER WOMEN FOR A BRIGHTER FUTURE",
        rightDescription:
            "Our women empowerment project extends a lifeline to impoverished women, affording them the chance to secure a steady income, uphold their dignity, and embrace independence. By backing these vulnerable women on their journey towards self-sufficiency, your generous donation guarantees not just their own livelihood but shields their entire families.Empowering them to become significant contributors to their households while acquiring new skills to enhance their well-being, our initiatives pave the way for a brighter tomorrow for those in need.",
        src: "/assets/images/appeals/WP/WP4.jpg",
    },
];
const HeaderBanned = [
    {
        src: "/assets/images/appeals/WP/HederBanner.jpg",
        title: "WOMEN EMPOWERMENT",
        titleline1: "",
        titleline2: "",
    },
];
---

<Layout>
    <HeadersBanner HeadersBanners={HeaderBanned} />
    <UmmahCharity />

    <div class="container">
        <div class="row">
            <p class="text-4xl text-maroon font-bold text-center pt-16">
                Empower Women for Life
            </p>
            <p class="text-center text-base md:text-lg px-3 md:px-56 text-grey font-medium my-5">
                Empowering women involves providing them with opportunities to
                acquire essential skills, boost their confidence, and
                cultivate independence, enabling lasting benefits throughout
                their lives. Through our <span class="font-bold"> women empowerment </span> initiative, we enable
                women hailing from disadvantaged backgrounds to earn a
                sustainable income, which not only uplifts their families
                but also leads to transformative changes in entire communities.
                By supporting us today, you contribute to building brighter and more
                promising futures.
            </p>
        </div>
    </div>
    <CardforCountry CountryCardDetails={card} />
    <SupportBanners BannerDetails={SupportBannerData} />
    <div class="container">
        <div class="row flex mx-auto justify-center py-12 md:w-[1000px]">
            <!-- First Column -->
            <div
                class="w-1/2 bg-maroon duration-300 border-2 py-20 px-4 border-customBeige flex flex-col items-center justify-center"
            >
            <svg xmlns="http://www.w3.org/2000/svg" class=" fill-customBeige hover:fill-[#ffff] duration-300" id="Capa_1" height="80" viewBox="0 0 512 512" width="80">
                <path d="m30 381h30v-89h29v-15c0-35.29 28.71-64 64-64 52.46.006 78.299 59.631 52.949 102.35.001 0-37.769 65.65-37.769 65.65h205.82v-186.25h34.5v52.5c0 24.81 20.19 45 45 45s45-20.19 45-45v-135c0-24.81-20.19-45-45-45s-45 20.19-45 45v52.5h-34.5v-71.75h-41v-61h-30v61h-18.32l-35 22h-150.68c-5.51 0-10-4.49-10-10v-15h-29v-30h-30v30h-30v202h30zm279-30h-30v-30h30z"></path>
                <path d="m0 411h512v69h-512z"></path>
            </svg>
                <p class="text-center font-bold text-white text-xl py-4">
                    470+ <br />
                    Sewing Machines
                </p>
            </div>

            <!-- Second Column -->
            <div
                class="w-1/2 border-2 py-20 px-4 border-maroon flex flex-col items-center justify-center text-center"
            >
                <div>
                    <!-- SVG Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="fill-customBeige hover:fill-maroon duration-300 ml-6" width="80px" height="80px" viewBox="0 0 80.13 80.13" xml:space="preserve">	
                        <path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112  c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984  c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984  z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263  c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833  C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088  c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699  C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276  c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752  C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032  c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265  c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z"></path>
                    </svg>

                    <!-- Text Below SVG -->
                    <p class="text-center font-bold text-xl py-4">
                        7400+ <br />
                        Beneficiaries
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="row flex justify-center">
            <div
                class="relative w-full max-w-[100%] md:max-w-[88%] pb-[45.25%]"
            >
                <iframe
                    class="absolute top-0 left-0 w-full h-full"
                    src="https://www.youtube.com/embed/x1npUyPEmx4?si=87DHoJHBDYxIRLDD"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row px-4 md:px-24">
            <p class="md:text-2xl text-lg font-bold text-maroon md:px-24 px-3 py-6">
                When you invest in women, you invest in a nation.
            </p>
            <p class="text-lg px-3 md:px-24 text-grey font-medium">
                In Pakistan, the pressing issue of gender inequality is
                reflected in its alarming ranking as the second lowest
                worldwide. Countless women in the country are unjustly deprived
                of fundamental rights such as education, training, and
                employment. Consequently, they find themselves trapped in
                challenging circumstances, burdened by financial dependency, and
                exposed to the dangers of gender-based violence and domestic
                abuse. However, Islamic principles promote <span
                    class="font-bold text-grey">women empowerment</span
                >, the right of women to work and live with dignity and respect.<br
                />
                <br />
                To honour these principles and bring about positive change, our <span
                    class="text-grey font-bold">Women Empowerment</span
                > Project takes action by equipping women with the essential skills
                and resources they need to forge independent and secure livelihoods.
                By providing sewing machines to impoverished women, we create opportunities
                for them to earn a stable income and even establish their own businesses.
                Through such endeavours, we strive to empower women, granting them
                not only financial protection but also the freedom to shape their
                own destinies with confidence and self-sufficiency.
            </p>
        </div>
    </div>
    <RestoringLive ReStroingLives={RestoreData} />
    <div class="container pt-10">
        <div class="row px-2 md:px-20">
            <p class="md:text-2xl text-lg font-bold text-maroon md:px-16 px-2 py-2">
                What impact will my donation have?
            </p>

            <p class="md:px-16 px-3 py-5 text-base text-grey font-medium md:text-lg">
                Your contribution to our projects directly facilitates the
                <span class="text-grey font-bold">empowerment of women </span> who find themselves stuck in poverty,
                promoting greater equality and opportunities for them. By
                enabling women to acquire valuable skills and sustainable
                income, the entire society becomes more resilient and vibrant.
                Moreover, households, where women are skilled and engaged in
                work, witness improved prospects for their children, shielding
                them from adversity and fostering greater achievements. This, in
                turn, leads to a reduction in poverty and social disparities. <br
                />
                <br />

                The additional income generated by these projects like women
                empowerment enhances families’ security, enabling them to meet
                household needs and navigate through crises more effectively.
                Our focus lies in prioritizing widowed mothers and vulnerable
                households, offering them the support needed to elevate their
                incomes and shield them from the brink of hardship and
                exploitation. Through our <span class="text-grey font-bold">Women Empowerment Project</span>, each woman
                is equipped with the necessary skills and tools to excel in
                sewing, manufacturing, and promoting her own business while also
                creating opportunities for others in her community.<br />
                <br />
                As our initiative gains momentum, it has already taken root in various
                areas of Pakistan, including Jamhoria, Surjani Town, and Mangopir,
                with plans to extend its reach to even more impoverished regions.
                Your involvement makes a significant difference in breaking the cycle
                of poverty and fostering a brighter, more promising future for these
                women and their communities. Donate your <a href="#" class="font-bold text-maroon hover:text-customBeige">Sadaqah</a> and <a href="" class="font-bold text-maroon  hover:text-customBeige">Zakat</a> to Al-Wahab
                Foundation to support as many deprived women as possible through
                our women empowerment initiative.
            </p>
            <p class="md:text-2xl text-lg font-bold text-maroon md:px-16 px-2 py-2">
                Donate for Women Empowerment: Make a Difference
            </p>

            <p class="md:px-16 px-3 py-5 text-base text-grey font-medium md:text-lg">
                When you donate for <span class="font-bold text-grey">women empowerment</span>, you are helping us create a sustainable impact, and every contribution matters. Together, we can build a world where women are recognized for their potential and provided with the opportunities they truly deserve.
            </p>
            <p class="md:text-2xl text-lg font-bold text-maroon md:px-16 px-2 py-2">
                Our Noteworthy Accomplishments
            </p>

            <p class=" md:px-16 px-3 py-5 text-base font-medium text-grey md:text-lg ">
                <a href="#" class="font-bold text-maroon hover:text-customBeige ">Al-Wahab Foundation</a> has been diligently empowering women and developing positive change in their lives by providing 925 machines to date, thanks to the constant support of our generous donors. Through this initiative, we are dedicated to equipping women with the necessary tools and resources to enhance their livelihoods and create a more promising future for themselves and their families. Our commitment to <span class="text-grey font-bold">women empowerment</span> remains steadfast, and we are grateful for the continued support that makes this transformative work possible.
            </p>
            <p class="flex justify-center my-7">
                <a
                    href=""
                    class="px-4 font-bold py-1 bg-maroon text-white hover:bg-customBeige rounded-full"
                    >DONATE NOW</a
                >
            </p>
        </div>
    </div>
    <!--  -->
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-1">
            <!-- Step 1 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center px-6 pb-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-pound-sterling mb-4"
                >
                    <path d="M18 7c0-5.333-8-5.333-8 0"></path>
                    <path d="M10 7v14"></path>
                    <path d="M6 21h12"></path>
                    <path d="M6 13h10"></path>
                </svg>
                <p class="text-lg font-semibold py-2 mt-3">Step 1</p>
                <p class="text-center font-semibold text-base">
                    You select women empowerment project and make a donation on our website 
                </p>
            </div>

            <!-- Step 2 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center p-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right-left mb-4"
                >
                    <path d="m16 3 4 4-4 4"></path>
                    <path d="M20 7H4"></path>
                    <path d="m8 21-4-4 4-4"></path>
                    <path d="M4 17h16"></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 2</p>
                <p class="text-center font-semibold text-base">
                    We process the donation and send it over to our implementation partners. The most vulnerable women are selected as beneficiaries for the project based upon criteria
                </p>
            </div>

            <!-- Step 3 -->
            <div
                class="bg-maroon flex flex-col items-center justify-center p-6 text-white rounded-lg shadow-lg"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-wrench mb-4"
                >
                    <path
                        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
                    ></path>
                </svg>
                <p class="text-lg font-semibold mb-2">Step 3</p>
                <p class="text-center font-semibold text-base">
                    A ceremony is held at the culmination of the project, where free sewing machines and certificates of achievement are distributed
                </p>
            </div>

            <!-- Step 4 -->
            <div
                class="bg-customBeige flex flex-col items-center justify-center px-6 pb-6 text-dark rounded-lg shadow-lg"
            >
                <svg
                    class="duration-300 hover:stroke-maroon -mt-3"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-notepad-text mb-4"
                >
                    <path d="M8 2v4"></path>
                    <path d="M12 2v4"></path>
                    <path d="M16 2v4"></path>
                    <rect width="16" height="18" x="4" y="4" rx="2"></rect>
                    <path d="M8 10h6"></path>
                    <path d="M8 14h8"></path>
                    <path d="M8 18h5"></path>
                </svg>
                <p class="text-lg font-semibold mb-2 mt-4">Step 4</p>
                <p class="text-center font-semibold text-base">
                    Our team also conducts follow-up checks with the beneficiaries
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p class="text-grey font-bold text-3xl text-center py-4">
                See other Project
            </p>
        </div>
    </div>
    <SeeOtherProjectCard SeeOtherProjects={OtherProject} />
</Layout>
