---
import { fetchPrograms } from './api.js'

type Program ={
        image: string,
        program_name: string,
        program_rate: number | string | null,
        country_name: string,
        donation_url:string,
}
const data = await fetchPrograms() ;
const  responseData : Program[] = data

export interface Props {
    CountryCardDetails :{
        name: string;
        title: string ;
        amount : number | string;
        src: string,
             
    }[];
}    
const {CountryCardDetails} = Astro.props;
---

<div class="container mx-auto pt-20 pb-5">
  <div class="flex justify-center">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-3 w-full px-4 md:px-16">
      {responseData.map((item) => (
        <div class="bg-white rounded-3xl shadow-lg shadow-grey w-full md:w-[350px] mx-auto overflow-hidden relative">
          <!-- Card Image -->
          <a class="flex justify-center" href={item.donation_url}>
            <img
              class="rounded-3xl w-full object-cover h-80"
              src={item.image}
              alt="Card image"
            />
          </a>
          <!-- Button Overlay -->
          <div class="relative flex items-center justify-center">
            <a href={item.donation_url}>
              <button
                class="absolute text-lg font-semibold bg-white text-black hover:bg-[#c9945a] hover:text-white duration-300 inline-flex items-center justify-center w-56 -inset-16 left-1/2 transform -translate-x-1/2 h-10 rounded-md shadow-md"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-earth mr-2"
                >
                  <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
                  <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
                  <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
                  <circle cx="12" cy="12" r="10" />
                </svg>
                {item.country_name}
              </button>
            </a>
          </div>
          <!-- Card Content -->
          <div class="py-5">
            <a class="flex justify-center" href="#">
              <h5 class="text-xl font-semibold tracking-tight text-black text-center ">
                {item.program_name}
              </h5>
            </a>
            <p class="my-2 text-sm text-black flex items-center justify-center font-semibold sm:text-base md:text-xl">
              <span class="text-2xl px-2">£</span>
              {item.program_rate || "Any amount"}
            </p>
          </div>
          <!-- Donate Now Button -->
          <div class="flex justify-center my-2 mb-10">
            <a
              class="bg-maroon text-white px-6 py-2 rounded-full text-lg md:text-xl font-semibold hover:bg-customBeige duration-300"
              href={item.donation_url}
            >
              Donate Now
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>


