---
export interface Props{
    LatestBlog:{
        image : string,
        date : string,
        title : string,
        description : string,
    } [];
}
const {LatestBlog} = Astro.props
---
<div class="grid grid-cols-1 md:grid-cols-3 mx-auto py-11 md:px-24">
    {LatestBlog.map((item) => (
    <div class="flex  justify-between mx-auto  gap-6">
      <div class="relative bg-white rounded-3xl md:my-5 shadow-grey shadow-md  md:h-[560px] w-[340px] h-auto md:w-[360px] overflow-hidden">
        <!-- Card Image -->
        <a class="relative block" href="#">
          <img
            class="relative inset-0 rounded-3xl w-full object-cover h-60 transition-opacity duration-300"
            src={item.image}
            alt="Blog Thumbnail"
          />
          <!-- Hover Overlay -->
          <div class="absolute inset-0 bg-[#7A132B] opacity-0 hover:opacity-20 transition-opacity duration-300 rounded-3xl"></div>
        </a>
        <!-- Card Content -->
        <div class="px-4 py-2">
          <p class="text-center text-grey py-2 text-sm">{item.date}</p>
          <a class="flex justify-center" href="#">
            <h5 class="md:text-xl text-base font-semibold tracking-tight text-grey text-center mt-2">
              {item.title}
            </h5>
          </a>
          <p class="py-2 px-3 text-black text-center text-grey font-medium text-sm">
            {item.description}
          </p>
          <div class="absolute bottom-2 translate-x-24 ">
            <a
              href="#"
              class="px-6 py-3 inline-flex items-center text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
    ))}
  </div>
  
