---
export interface Props{
    SeeOtherProjects:{
        title : string,
        description : string,
        src: string,
    }[];
}
const {SeeOtherProjects} = Astro.props
---
<div class="container flex flex-col items-center justify-center ">
  <div class="slider flex items-center">
    <!-- Previous Button -->
    <div
      class="button prev flex items-center justify-center cursor-pointer"
      id="prev-btn"
    >
      <i class="fa-solid fa-chevron-left text-black text-3xl"></i>
    </div>

    <!-- Movie Container -->
    <div class="movie-container flex justify-between my-6 mx-6 overflow-x-auto space-x-4">
      {SeeOtherProjects.map((SeeOtherProject) => (
        <div
          class="bg-white rounded-lg shadow-lg w-80 flex-shrink-0 overflow-hidden"
        >
          <!-- Card Image -->
          <a class="flex justify-center" href="#">
            <img
              class="rounded-t-lg w-full object-cover h-64"
              src={SeeOtherProject.src}
              alt={SeeOtherProject.title}
            />
          </a>

          <!-- Card Content -->
          <div class="px-4 py-2">
            <a href="#">
              <h5 class="text-2xl font-bold tracking-tight text-black text-center mt-2">
                {SeeOtherProject.title}
              </h5>
            </a>
            <p class="py-6 text-sm text-black text-center font-light sm:text-base md:text-lg">
              {SeeOtherProject.description}
            </p>
            <div class="flex items-center justify-center">
              <a
                href="#"
                class="px-6 py-3 inline-flex items-center sm:text-sm md:text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>

    <!-- Next Button -->
    <div
      class="button next flex items-center justify-center cursor-pointer" id="next-btn">
      <i class="fa-solid fa-chevron-right text-black text-3xl px-3"></i>
    </div>
  </div>
</div>


<script is:inline>
   document.getElementById('next-btn').addEventListener('click', () => {
        document.querySelector('.movie-container').scrollBy({
            left: 300,
            behavior: 'smooth'
        });
    });

    document.getElementById('prev-btn').addEventListener('click', () => {
        document.querySelector('.movie-container').scrollBy({
            left: -300,
            behavior: 'smooth'
        });
    });
</script>