---
export interface Props{
    SeeOtherProjects:{
        title : string,
        description : string,
        src: string,
    }[];
}
const {SeeOtherProjects} = Astro.props
---
<div class="container flex flex-col items-center h-full justify-center my-4">
  <div class=" slider flex items-center ml-auto relative w-full md:px-16 ">
    <!-- Previous Button -->
    <div
      class="button prev absolute flex -left-5 top-1/2 -translate-y-1/2 items-center justify-center cursor-pointer z-10 w-10 h-10 rounded-3xl border border-gray-300 bg-white shadow transition-all hover:bg-gray-100 focus:outline-none md:left-0 md:h-12 md:w-12"
      id="prev-btn"
    >
      <i class="fa-solid fa-chevron-left text-maroon text-3xl "></i>
    </div>
    <div
      class="movie-container flex justify-between gap-7 mx-auto md:py-5 overflow-x-hidden scroll-smooth space-x-4 w-full"
    >
      {SeeOtherProjects.map((SeeOtherProject) => (
        <div
          class="relative bg-white rounded-3xl shadow-grey  scroll-smooth h-[660px] w-80 flex-shrink-0 overflow-hidden"  style="box-shadow: 0px 0px 8px 2px rgba(90, 89, 89, 0.521);"
        >
          <!-- Card Image -->
          <a class="flex justify-center" href="#">
            <img
              class="rounded-3xl w-80 object-cover h-52"
              src={SeeOtherProject.src}
              alt={SeeOtherProject.title}
            />
          </a>
          <!-- Card Content -->
          <div class="px-4 py-2">
            <a class="flex justify-center" href="#">
              <h5 class="md:text-2xl text-lg font-semibold tracking-tight text-grey text-center mt-2">
               {SeeOtherProject.title}
             </h5>
            </a>
            <p class="py-2 text-black text-center font-medium text-base md:text-lg">
              {SeeOtherProject.description}
            </p>
            <div class="absolute bottom-8 translate-x-20 flex items-center justify-center">
              <a
                href="#"
                class="px-6 py-3 inline-flex items-center  text-base font-semibold text-white bg-[#740B2E] rounded-full hover:bg-[#c9945a] duration-300"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>

    <!-- Next Button -->
    <div
      class="button next absolute -right-5 flex items-center justify-center cursor-pointer z-10 w-10 h-10 rounded-full border border-gray-300 bg-white shadow transition-all hover:bg-gray-100 focus:outline-none md:right-0 md:h-12 md:w-12"
      id="next-btn"
    >
      <i class="fa-solid fa-chevron-right text-maroon text-3xl"></i>
    </div>
  </div>
</div>

<script is:inline>
 const movieContainer = document.querySelector('.movie-container');
const prevBtn = document.getElementById('prev-btn');
const nextBtn = document.getElementById('next-btn');

// Scroll to the left
prevBtn.addEventListener('click', () => {
  movieContainer.scrollBy({
    left: -300,
    behavior: 'smooth',
  });
});

// Scroll to the right
nextBtn.addEventListener('click', () => {
  movieContainer.scrollBy({
    left: 300,
    behavior: 'smooth',
  });
});

</script>
